[2018-12-18 21:21] #1302 closed

[2018-12-18 21:22] EminAgassi commented on #1302
Yes I found the problem.
thanks for help. I did not see the soft reset call

[2018-12-26 09:35] 790666134 opened #1307 "CANCELLED: The operation was cancelled."
在运行 streamingRecognizeFile 方法时出现该错误。请问如何解决？
This error occurred while running the streaming RecognizeFile method. How to solve this problem?

java.util.concurrent.ExecutionException: com.google.api.gax.rpc.CancelledException: io.grpc.StatusRuntimeException: CANCELLED: The operation was cancelled.

![image](https://user-images.githubusercontent.com/20120520/50441206-8bce1900-0934-11e9-962c-e97119ff

[2018-12-26 16:58] nnegrey commented on #1307
Hi, do you have any steps on how to reproduce this error?

[2018-12-27 05:39] 790666134 commented on #1307
Currently I am in China, using vpn to debug errors locally.

[2018-12-27 05:40] 790666134 commented on #1307
What is the cause of the error?

[2018-12-29 06:33] srikanth-padmanabhuni commented on #330
No the issue was still Exsisted

You can see the errors below in screenshot
![image](https://user-images.githubusercontent.com/43059655/50534378-b51fbc80-0b61-11e9-85a8-88841c50ab79.png)

This is my pom
![image](https://user-images.githubusercontent.com/43059655/50534380-cbc61380-0b61-11e9-9099-b68d6d9cc5da.png)

[2018-12-29 06:35] srikanth-padmanabhuni opened #1309 "Issue of "Non-resolvable parent POM for com.google.cloud:doc-samples:1.0.0: Could not transfer artifact com.google.cloud.samples:shared-configuration:pom:1.0.9" Is still exsisted"
See the screen shot

![image](https://user-images.githubusercontent.com/43059655/50534396-fb751b80-0b61-11e9-92e5-503d7efff2a5.png)

After removing the parent tag in the  pom also it is throwing some exceptions

[2019-01-02 22:57] nnegrey commented on #1309
Hi, just to get a better understanding. :)

Did you clone the whole repo?
Doing a `git pull` on the master branch solve it?

What sample are you running / how are you running it?

[2019-01-07 08:14] srikanth-padmanabhuni commented on #1309
Yes, I have cloned  the Whole repository and tried my level best to build the Code

[2019-01-07 16:34] nnegrey commented on #1309
From that image, looks like you are running theses samples?
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/vision/cloud-client

To build them, does this command work?
`mvn clean package`

[2019-01-07 21:35] lesv opened #1311 "github notifying about security vulerabilities"
There are 3 security alerts from GH to us re: `com.fasterxml.jackson.core:jackson-databind`

Known high severity security vulnerability detected in com.fasterxml.jackson.core:jackson-databind >= 2.9.0, < 2.9.8 defined in pom.xml.

pom.xml update suggested: `com.fasterxml.jackson.core:jackson-databind` ~> 2.9.8.Always verify the validity and compatibility of suggestions with your codebase. |

Known

[2019-01-10 17:14] austinfathman opened #1312 "Misspelled System.out.println"
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/646cbc66252198a8e62616ad4ef0ff17a7de48e1/vision/automl/src/main/java/com/google/cloud/vision/samples/automl/ModelApi.java#L200

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/646cbc66252198a8e62616ad4ef0ff17a7de48e1/vision/automl/src/main/java/com/google/cloud/vision/samples/automl/ModelApi.java#L202

"Tranning" -> "Train

[2019-01-10 18:09] charbull opened #1313 "Automl tutorial: flower_trainingdata.csv missing"
Hello,

Trying to do the following tutorial: https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/vision/automl

It seems that this is not existant: **gs://java-docs-samples-testing/flower_traindata.csv**

Thank you

[2019-01-11 23:12] charbull opened #1314 "AutoML: set credentials example from java"
Hello,

Is it possible to provide an example code in Java in order to do the before your begin steps: [[here](https://cloud.google.com/vision/automl/docs/before-you-begin)]

I created a service account and downloaded the json file.
I keep getting unAuthenticated error,

This is a what I am trying to do:

[code]

The error message:

[code]

[2019-01-12 00:00] charbull commented on #1314
it worked after i removed this line from the appengine-web.xml

[code]

[2019-01-12 00:00] #1314 closed

[2019-01-13 01:17] zulkifal opened #1315 "urlfetch sample for appengine-java8 does not use urlfetch service"
## In which file did you encounter the issue?

- java-docs-samples/appengine-java8/urlfetch/src/main/java/com/example/appengine/UrlFetchServlet.java
- java-docs-samples/appengine-java8/urlfetch/src/main/webapp/WEB-INF/appengine-web.xml

### Did you change the file? If so, how?

No.

## Describe the issue

Java 8 runtime for appengine does not use URLFetch service by default[1], and hence an app do

[2019-01-14 12:28] squm opened #1316 "Non-resolvable parent POM"
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/f1e9dd8c36d3591d461d857806706bcd6bb3ed90/pom.xml#L20

replace with `appengine-doc-samples` perhaps

[2019-01-24 23:53] #1309 closed

[2019-02-01 01:27] kvsravindrareddy opened #1324 "ESP is failing with ERROR:Fetching rollouts failed (status code 403, reason Forbidden, url https://servicemanagement.googleapis.com/v1/services/cbserviceaccount@steam-idiom-230308.iam.gserviceaccount.com/rollouts?filter=status=SUCCESS)"
ESP is failing with ERROR:Fetching rollouts failed (status code 403, reason Forbidden, url https://servicemanagement.googleapis.com/v1/services/cbserviceaccount@steam-idiom-230308.iam.gserviceaccount.com/rollouts?filter=status=SUCCESS).

i might be not correct to configure the service account. I am not sure how to create the SERVICE_NAME=hellogrpc.endpoints.${GCLOUD_PROJECT}.cloud.goog

[2019-02-01 09:50] kvsravindrareddy opened #1325 "springboot.grpc.GRpcServerRunner : Shutting down gRPC server ..."
i followed the same steps but the server stopper abnormally.

kubectl create -f ./deployment.yaml

 57.109 seconds (JVM running for 58.412)
2019-02-01 09:45:27.925  INFO [cb-user-dataaccess-grpc,,,] 1 --- [           main] o.l.springboot.grpc.GRpcServerRunner     : Starting gRPC Server ...
2019-02-01 09:45:28.062  INFO [cb-user-dataaccess-grpc,,,] 1 --- [           main] o.l.springboot.grpc.GRpcSe

[2019-02-17 22:15] ares2015 opened #1339 "AutoML jar file used from IntelliJ Java project - waiting forever for Prediction result (no Exception thrown)"
Hi there,

I have trained my own language model on Google Cloud. I am able to do predictions on this model via Google Console. Then I was experimenting with this Java example:

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/language/automl/src/main/java/com/google/cloud/language/samples/PredictionApi.java

I built jar from com.google.cloud.language.samples. When I run the jar

[2019-03-12 13:24] lopezvit opened #1348 "Endpoints-frameworks-v2 deprecated java version makes it impossible to deploy"
## In which file did you encounter the issue?

`java-docs-samples/appengine/endpoints-frameworks-v2/backend/pom.xml`

`java-docs-samples/appengine/endpoints-frameworks-v2/backend/src/main/webapp/WEB-INF/appengine-web.xml`

### Did you change the file? If so, how?

Changed the java version in both files, in the pom, I changed

[code]

into

[code]

in the appengine-web.xml I added:

[code]

## Desc

[2019-03-18 04:18] ghadigaonkarnilesh opened #1356 "Necessary Enhancements for Test Automation"
## Enhancement to Detect.java

### Did you change the file? If so, how?

## Describe the issue

Hi ,
I am Test Automation Engineer and we are using Google Vision in our framework. It is really intelligent for some operations but I would like to insist Google team to add below features to make it go to place for all paid users.

1.We need intelligent image comparision feature which can tell % of si

[2019-03-19 23:04] nnegrey commented on #1356
Hi Nilesh,

Thanks for the feedback, this repo is used to maintain the samples hosted on our docs pages, may I suggest adding Feature Requests here: https://cloud.google.com/support/docs/issue-trackers

On 3. Not sure if this is what you are looking for, but we have support for PDF files: https://cloud.google.com/vision/docs/pdf

Thanks!
Will close this, but feel free to reopen.

[2019-03-19 23:04] #1356 closed

[2019-03-20 21:37] nnegrey commented on #1316
Hi the parent pom ID is intended to be `docs-samples`

If there is an issue in the app-engine samples, please feel free to reopen.

[2019-03-20 21:37] #1316 closed

[2019-04-02 03:06] prokulit06 opened #1362 "How to authenticate?? I am using android"
Please help me about authenticate in android I would like to use your example because of speaker labeling in android example is not updated yet seems it is not easy to understand please help me how to authenticate it??

[2019-04-05 21:37] grant opened #1376 "No Way to View Repo Test Status"
## Issue

There is no way for me to see test status of this repo.
The "Build: Failing" badge does not link to the test status. It links to the image which is useless.

There's no other documentation to accessing the tests for this repo.

Please add a link to the tests such that an external user can view the status of the tests.

[2019-04-08 14:04] Mouzitoto opened #1377 "java.lang.AbstractMethodError: com.google.api.gax.grpc.GrpcCallContext.getTracer()Lcom/google/api/gax/tracing/ApiTracer;"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/vision/cloud-client/src/main/java/com/example/vision/QuickstartSample.java

### Did you change the file? If so, how?

I get the credentials that way:
[code]

## Describe the issue

After evaluating that code:
`
BatchAnnotateImagesResponse response = vision.batchAnnotateImages(request

[2019-04-08 14:08] Mouzitoto commented on #1377
I'm using jdk1.8.0_171
Have tried this with "no-role" service account key and "owner-role" service account key.

[2019-04-08 14:23] Mouzitoto commented on #1377
Updated to jdk1.8.0_201, still having this error.

[2019-04-10 21:06] evfimivs commented on #814
I still get the same error

[2019-04-10 21:09] evfimivs commented on #767
Hey Noah,
Yes, I still do have this error

[2019-04-12 14:04] Nitya05 opened #1379 "Missing SessionsClient and SessionName classes for C++"
I am trying to write a client in c++ which could give the intent for a speech input (basically, re-writing DetectIntentStream.java in c++). But, I am unable to locate the following classes in c++ googleapis.

**com.google.cloud.dialogflow.v2.SessionName
com.google.cloud.dialogflow.v2.SessionsClient**

Can someone tell me where can I find these classes or an alternative of these classes to write a

[2019-04-15 02:00] Mahdi-Roozbahani opened #1384 "IMAGE API BUG - Rotated image is just shown on the original image not the scaled down ones"
I rotate the image using:
[code]

When I get the serving url and try to use different scales like s1000 or s500, the result is the un-rotated
 image not the rotated one. However, for s0, it shows the rotated version.

I wish somebody can answer this question.

[2019-04-16 15:23] github-contenta opened #1385 "Is a latency between 1 and 2 seconds expected?"
I followed this tutorial:

https://cloud.google.com/endpoints/docs/frameworks/java/get-started-frameworks-java

Which uses code from this repo, and every call to "_ah/api/echo/v1/echo" is taking between 1 to 2 seconds to respond. Is that expected behavior? It seems really high for any production use.

[2019-04-18 21:02] nnegrey commented on #1362
Hi, which sample are you referring to?

[2019-04-19 21:19] anz000 opened #1390 "Google Cloud Task :- ERROR { Network is unreachable: cloudtasks.googleapis.com } when a new task with a payload is attempted."
I am running the example as-is:
[https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java8/tasks](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java8/tasks)

I have setup everything, and pushed the app to the appengine server. I am running it locally as well. But when I issue the command to create a new task, I get the error that

`Caused

[2019-04-19 21:34] averikitsch commented on #1390
Hi anz000, have you enable the Cloud Tasks API? This link should take you to the Cloud Tasks API page for your project: https://console.cloud.google.com/launcher/details/google/cloudtasks.googleapis.com.

[2019-04-19 21:37] anz000 commented on #1390
Yes. I can see even see the QUEUE as directed in the links I pasted above.

[2019-04-22 17:18] arindam-b opened #1392 "Cloud Endpoint - Not accepting Multipart file"
## In which file did you encounter the issue?

openapi.yaml

### Did you change the file? If so, how?

I have more than 30 methods exposed using Cloud Endpoints. All works perfectly except 2 methods where I have following specification, **in short**

From yaml I have marked in bold the particular part where issue occurs. If I remove, file is properly parsed and deployed.

put:
      tags:
      -

[2019-04-24 18:58] AndresUrregoAngel opened #1395 "Doesnt find StorageFactory.getService"
## Describe the issue

I'm using Java 1.8  along with Maven 3, I have added this dependency:
[code]

But when I try to perform :

Storage client = StorageFactory.getService();

The `getService` doesnt exist as an option from StorageFactory

[2019-04-25 13:34] ihsanhaikalz opened #1397 "Change user-agent information for Google IAM"
Is it possible to change user-agent information for API calls to Google IAM when we instantiate it? My code is like this:

[code]

I saw that for Google Storage is possible using HeaderProvider like this:

[code]
but I couldn't find out how to use HeaderProvider in Google IAM.

Any ideas?

[2019-04-29 01:09] oscardoudou opened #1398 "Can't see stack driver logs in log viewer console using logback appender. Inbound outbound traffic captured"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/logging/logback

### Did you change the file? If so, how?

I define a logger in logback.xml targeting `google.cloud.java`, but none related logs come up
I tried different version of google-cloud-logging-logback with 0.80.0/0.88.0/0.89.0-alpha.

## Describe the issue
Basically I follo

[2019-04-29 20:24] anz000 commented on #1390
Apparently, did a fresh installation of google cloud SDK. I was playing around with multiple accounts, so that must have been one of the reasons why.  I think `gcloud auth application-default login` might have fixed it.

[2019-04-30 05:06] #1379 closed

[2019-04-30 05:07] Nitya05 commented on #1379
Found the solution.

[2019-05-02 21:40] hegemonic opened #1400 "Use current Apache Beam SDK in Cloud Spanner sample"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/1f0a55ec/dataflow/spanner-io/pom.xml#L41

### Did you change the file? If so, how?

 No

## Describe the issue

This code sample currently uses version 2.3.0 of the Apache Beam SDK. The [current version](https://beam.apache.org/get-started/downloads/) is 2.12.0.

[2019-05-10 16:34] ricardosm-cit opened #1410 "There are no samples for Data Catalog clients in the repository"
Data Catalog is a new product in GCP's Big Data family. There is an initial version for its cloud client library publicly available (package `com.google.cloud.datacatalog.v1beta1`), but not samples for it in this repository.

As an early adopter of this product, I would like to contribute by creating the `datacatalog/cloud-client` folder in repo's root and adding samples there.

[2019-05-14 19:51] #1410 closed

[2019-05-14 22:40] nnegrey commented on #1362
Gonna close this for now, feel free to re-open.

[2019-05-14 22:40] #1362 closed

[2019-05-15 04:32] ankitsultana opened #1419 "Pubsub Client doesn't work with Service Account scoped to PubSub admin role"
## In which file did you encounter the issue?

Any example under [pubsub/cloud-client/src/main/java/com/example/pubsub](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/pubsub/cloud-client/src/main/java/com/example/pubsub), if you service-account with permissions scoped to Pub/Sub Admin.

### Did you change the file? If so, how?

No

## Describe the issue

If you create a servi

[2019-05-19 09:48] cyberpwnn commented on #1377
This is also happening with cloud tts. at .synthesizeSpeech(...). Unusable.

[2019-05-21 16:18] #873 closed

[2019-05-21 17:43] nnegrey commented on #1307
My guess is that there might be an issue with the VPN, beyond that I'm not sure.

[2019-05-21 20:03] rvanderwerf commented on #1377
I have the same issue. I think it's a library conflict of some sort with rxjava.

[2019-05-22 07:03] AniketBhadane opened #1433 "Speech API giving 0 results"
I'm using Google Cloud Speech to text api in Java.

I'm getting 0 results when I call speechClient.recognize

pom.xml:

[code]

Java code:
[code]
In the code above, I'm getting results.size as 0. When I upload the same opus file on demo at https://cloud.google.com/speech-to-text/, it gives output text correctly.

So why is the recognize call giving zero results?

[2019-05-28 16:43] frankyn commented on #1000
Closing issue as it hasn't been updated in a year.

[2019-05-28 16:43] #1000 closed

[2019-05-28 16:44] frankyn commented on #922
Closing as issue hasn't been updated in over a year.

[2019-05-28 16:44] #922 closed

[2019-05-28 17:45] #1307 closed

[2019-06-03 19:57] #1390 closed

[2019-06-03 20:29] #1163 closed

[2019-06-04 23:09] hongalex commented on #1419
Hi @ankitsultana,

From some preliminary testing, I could not replicate this issue with a new account with a service account with "Pub/Sub Admin" permissions. Can you try creating a new service account and try to create a topic from that? Another thing to giving "Pub/Sub Editor" permissions to a new service account see if that fails too.

Thanks for pointing out the bug with printing success even

[2019-06-06 06:30] ankitsultana commented on #1419
Weird, I tried it with a new service-account and it seems to work now. Closing this issue for now. If I encounter it again, I will ping here. Thanks for your reply!

[2019-06-06 06:30] #1419 closed

[2019-06-10 16:51] kurtisvg commented on #1266
Notice: this issue has been closed because it has been inactive for 203 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1266 closed

[2019-06-10 16:51] kurtisvg commented on #1258
Notice: this issue has been closed because it has been inactive for 207 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1258 closed

[2019-06-10 16:51] kurtisvg commented on #1251
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1251 closed

[2019-06-10 16:51] kurtisvg commented on #1234
Notice: this issue has been closed because it has been inactive for 237 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1234 closed

[2019-06-10 16:51] kurtisvg commented on #1229
Notice: this issue has been closed because it has been inactive for 241 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1229 closed

[2019-06-10 16:51] kurtisvg commented on #1226
Notice: this issue has been closed because it has been inactive for 245 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1226 closed

[2019-06-10 16:51] kurtisvg commented on #1224
Notice: this issue has been closed because it has been inactive for 250 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] kurtisvg commented on #1214
Notice: this issue has been closed because it has been inactive for 267 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1214 closed

[2019-06-10 16:51] kurtisvg commented on #1167
Notice: this issue has been closed because it has been inactive for 313 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1167 closed

[2019-06-10 16:51] kurtisvg commented on #1146
Notice: this issue has been closed because it has been inactive for 351 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:51] #1146 closed

[2019-06-10 16:52] kurtisvg commented on #1113
Notice: this issue has been closed because it has been inactive for 378 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #1113 closed

[2019-06-10 16:52] kurtisvg commented on #1109
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #1109 closed

[2019-06-10 16:52] kurtisvg commented on #1066
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #1066 closed

[2019-06-10 16:52] kurtisvg commented on #977
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #977 closed

[2019-06-10 16:52] kurtisvg commented on #957
Notice: this issue has been closed because it has been inactive for 541 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #957 closed

[2019-06-10 16:52] kurtisvg commented on #949
Notice: this issue has been closed because it has been inactive for 545 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #949 closed

[2019-06-10 16:52] kurtisvg commented on #948
Notice: this issue has been closed because it has been inactive for 546 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #948 closed

[2019-06-10 16:52] kurtisvg commented on #905
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #905 closed

[2019-06-10 16:52] kurtisvg commented on #827
Notice: this issue has been closed because it has been inactive for 651 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #827 closed

[2019-06-10 16:52] kurtisvg commented on #819
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #819 closed

[2019-06-10 16:52] kurtisvg commented on #785
Notice: this issue has been closed because it has been inactive for 676 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #785 closed

[2019-06-10 16:52] kurtisvg commented on #477
Notice: this issue has been closed because it has been inactive for 192 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #477 closed

[2019-06-10 16:52] kurtisvg commented on #473
Notice: this issue has been closed because it has been inactive for 890 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #473 closed

[2019-06-10 16:52] kurtisvg commented on #440
Notice: this issue has been closed because it has been inactive for 914 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #440 closed

[2019-06-10 16:52] kurtisvg commented on #434
Notice: this issue has been closed because it has been inactive for 919 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #434 closed

[2019-06-10 16:52] kurtisvg commented on #433
Notice: this issue has been closed because it has been inactive for 919 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #433 closed

[2019-06-10 16:52] kurtisvg commented on #418
Notice: this issue has been closed because it has been inactive for 935 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #418 closed

[2019-06-10 16:52] kurtisvg commented on #339
Notice: this issue has been closed because it has been inactive for 964 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #339 closed

[2019-06-10 16:52] kurtisvg commented on #237
Notice: this issue has been closed because it has been inactive for 1123 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #237 closed

[2019-06-10 16:52] kurtisvg commented on #226
Notice: this issue has been closed because it has been inactive for 1133 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #226 closed

[2019-06-10 16:52] kurtisvg commented on #186
Notice: this issue has been closed because it has been inactive for 1140 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #186 closed

[2019-06-10 16:52] kurtisvg commented on #151
Notice: this issue has been closed because it has been inactive for 1161 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:52] #151 closed

[2019-06-10 16:52] kurtisvg commented on #131
Notice: this issue has been closed because it has been inactive for 914 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:53] #131 closed

[2019-06-10 16:53] kurtisvg commented on #128
Notice: this issue has been closed because it has been inactive for 460 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:53] #128 closed

[2019-06-10 16:54] kurtisvg commented on #772
Notice: this issue has been closed because it has been inactive for 682 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #772 closed

[2019-06-10 16:54] kurtisvg commented on #771
Notice: this issue has been closed because it has been inactive for 586 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #771 closed

[2019-06-10 16:54] kurtisvg commented on #749
Notice: this issue has been closed because it has been inactive for 699 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #749 closed

[2019-06-10 16:54] kurtisvg commented on #731
Notice: this issue has been closed because it has been inactive for 685 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #731 closed

[2019-06-10 16:54] kurtisvg commented on #721
Notice: this issue has been closed because it has been inactive for 699 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #721 closed

[2019-06-10 16:54] kurtisvg commented on #717
Notice: this issue has been closed because it has been inactive for 722 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #717 closed

[2019-06-10 16:54] kurtisvg commented on #709
Notice: this issue has been closed because it has been inactive for 725 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #709 closed

[2019-06-10 16:54] kurtisvg commented on #707
Notice: this issue has been closed because it has been inactive for 725 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #707 closed

[2019-06-10 16:54] kurtisvg commented on #704
Notice: this issue has been closed because it has been inactive for 726 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #704 closed

[2019-06-10 16:54] kurtisvg commented on #702
Notice: this issue has been closed because it has been inactive for 652 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:54] #702 closed

[2019-06-10 16:54] kurtisvg commented on #698
Notice: this issue has been closed because it has been inactive for 729 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #698 closed

[2019-06-10 16:55] kurtisvg commented on #691
Notice: this issue has been closed because it has been inactive for 732 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #691 closed

[2019-06-10 16:55] kurtisvg commented on #688
Notice: this issue has been closed because it has been inactive for 732 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #688 closed

[2019-06-10 16:55] kurtisvg commented on #685
Notice: this issue has been closed because it has been inactive for 739 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #685 closed

[2019-06-10 16:55] kurtisvg commented on #654
Notice: this issue has been closed because it has been inactive for 762 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #654 closed

[2019-06-10 16:55] kurtisvg commented on #653
Notice: this issue has been closed because it has been inactive for 699 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #653 closed

[2019-06-10 16:55] kurtisvg commented on #652
Notice: this issue has been closed because it has been inactive for 763 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #652 closed

[2019-06-10 16:55] #651 closed

[2019-06-10 16:55] kurtisvg commented on #650
Notice: this issue has been closed because it has been inactive for 763 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #650 closed

[2019-06-10 16:55] kurtisvg commented on #649
Notice: this issue has been closed because it has been inactive for 763 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #649 closed

[2019-06-10 16:55] kurtisvg commented on #535
Notice: this issue has been closed because it has been inactive for 836 days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:55] #535 closed

[2019-06-10 16:59] kurtisvg commented on #880
Notice: this issue has been closed because it has been inactive for {days_inactive} days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:59] #880 closed

[2019-06-10 16:59] kurtisvg commented on #708
Notice: this issue has been closed because it has been inactive for {days_inactive} days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:59] #708 closed

[2019-06-10 16:59] kurtisvg commented on #461
Notice: this issue has been closed because it has been inactive for {days_inactive} days. You may reopen this issue if it has been closed in error.

[2019-06-10 16:59] #461 closed

[2019-06-10 17:04] elharo commented on #1224
No, I can't reopen this but it doesn't seem to have been resolved.

[2019-06-10 17:58] kurtisvg commented on #1376
Hey Grant --

Since we are using Kokoro, it's not possible to expose the results of our daily or continuous tests other than that badge. That badge gets updated every time Kokoro runs a continuous or periodic test.

For PRs, we use Resultstore, so it is possible to see the results of the tests for that sepcific PR by clicking the status links for the commit.

[2019-06-10 17:58] #1376 closed

[2019-06-10 18:07] kurtisvg commented on #1324
Hey @kvsravindrareddy,

Unfortunately there isn't enough information here to figure out which sample you were using or what is going wrong. In the future, please stick to using the provided issue template so that we can provide guidance more easily.

[2019-06-10 18:07] #1324 closed

[2019-06-10 18:07] kurtisvg commented on #1325
Hey @kvsravindrareddy,

Unfortunately there isn't enough information here to figure out which sample you were using or what is going wrong. In the future, please stick to using the provided issue template so that we can provide guidance more easily.

[2019-06-10 18:07] #1325 closed

[2019-06-10 18:28] nnegrey commented on #1313
@sirtorry or @andrewferlitsch  can one of you take a look?

[2019-06-10 18:28] nnegrey commented on #1312
@sirtorry or @andrewferlitsch can one of you take a look?

[2019-06-10 18:29] nnegrey commented on #1339
@sirtorry or @andrewferlitsch can one of you take a look?

[2019-06-10 18:35] nnegrey commented on #1433
Hey, just a quick debug first.
Do any of the existing samples work for you as is?

Then once, we know your environment is setup correctly, we can debug the code. :)
(I'll take a look at the code now, but just a first initial question)

[2019-06-10 18:38] nnegrey commented on #1433
Also you might need to change the `AudioEncoding`, because your file is a `.opus`, you should probably use:
`AudioEncoding. OGG_OPUS`

[2019-06-10 21:04] kurtisvg commented on #1392
@arindam-b - Are you still experiencing troubles with this issue? If so, could you please let me know which sample is causing problems?

If it isn't an issue with the sample, please ask your issue on StackOverflow instead. You can feel free to post a link to your issue on SO as well.

[2019-06-10 22:00] #1311 closed

[2019-06-11 08:28] arindam-b commented on #1392
@kurtisvg  - Yes the issue still persists.

I am attaching the yml file. Please refer line 67 - 70 or 161 -164, which are commented, are meant for multipart file upload. Though I used a workaround to find a solution, it would be good if we can fix it here itself.

[rcupopenapi.zip](https://github.com/GoogleCloudPlatform/java-docs-samples/files/3275441/rcupopenapi.zip)

[2019-06-11 15:26] averikitsch commented on #1400
The tests are currently broken for this sample and may need to be rewritten for a new client library. Also the pom.xml needs `${apache_beam.version}` removed so dpebot can auto update the dependency.

[2019-06-11 16:21] kurtisvg commented on #1392
Closing this since it's not related to any samples in the repo.

[2019-06-11 16:21] #1392 closed

[2019-06-11 17:45] kurtisvg commented on #1384
Hi @Mahdi-Roozbahani,

Are you still experiencing this issue? Is it a problem with a sample in this repository, or something you are trying to do on your own?

[2019-06-11 18:23] Mahdi-Roozbahani commented on #1384
Hi there,

Yes. It is not related to the repository example. I am sure it is a bug in image api using google cloud. It does not reflect rotated images in the scaled version of an image. I could overcome the problem using this hacky way for now. Please lookup my stackoverflow question (I answered that question myself)

https://stackoverflow.com/questions/55819381/using-images-api-just-the-original-

[2019-06-11 19:05] sduskis opened #1457 "Add examples for recording and providing speed to text from microphone"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

copied from https://github.com/googleapis/google-cloud-java/issues/4932:

[2019-06-11 19:28] kurtisvg commented on #1384
Closing since it's not related to any sample in this directory.

From the gist of your problem here and in SO, it seems like the AppEngine Image API is working correctly since the image is scaled at "s0". The problem may have been an issue with a cache somewhere, which was resolved when you started using different parameters for the url.

[2019-06-11 19:28] #1384 closed

[2019-06-11 19:34] nnegrey commented on #1457
Checkout this sample on using a microphone for streaming!
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/speech/cloud-client/src/main/java/com/example/speech/InfiniteStreamRecognize.java
Hope this helps!

Going to close this, but feel free to reopen if you need more help!

[2019-06-11 19:34] #1457 closed

[2019-06-11 21:49] gguuss commented on #1397
This looks like a duplicate of [this question](https://github.com/googleapis/google-cloud-java/issues/5016), the proposed resolution was:

[2019-06-11 21:49] #1397 closed

[2019-06-12 08:06] goxr3plus commented on #1457
@nnegrey  Thank you :) , although a senior Java develop the example for Microphone Streaming is gosh so complex.

I hope you simplify the library on next versions . With all that complexity i see i expect more power from this library but ... too complex.... too complex...

[2019-06-12 12:45] asurjit79 opened #1461 "Exception in thread "main" com.google.api.gax.rpc.ResourceExhaustedException: io.grpc.StatusRuntimeException: RESOURCE_EXHAUSTED: Quota exceeded for quota metric 'speech.googleapis.com/default_requests' and limit 'DefaultRequestsPerMinutePerProject' of service 'speech.googleapis.com' for consumer 'project_number:"
## In which file did you encounter the issue?
QuickSample.java

### Did you change the file? If so, how?
No

## Describe the issue

I am getting the above mentioned issue when I try to run this programme. The detailed exception is pasted below

Jun 12, 2019 12:53:03 PM com.google.auth.oauth2.DefaultCredentialsProvider warnAboutProblematicCredentials
WARNING: Your application has authenticated usin

[2019-06-12 15:28] nnegrey commented on #1433
Going to close this, but please feel free to reopen if your issue isn't solved by the above. :)

[2019-06-12 15:28] #1433 closed

[2019-06-12 17:10] dzlier-gcp commented on #1395
Hi Andres, please excuse the delay.

I see the problem: StorageFactory is actually a utility class created in the sample, not native from the library. Please see [this class](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/storage/json-api/src/main/java/StorageFactory.java) for how to instantiate a Storage client in the meantime, and we will look into how to make this more cle

[2019-06-12 17:10] #1395 closed

[2019-06-12 18:05] kurtisvg commented on #1461
Hi @asurjit79,

It looks like you are using user credentials. You can use `gcloud auth activate-service-account [ACCOUNT] --key-file=KEY_FILE` to specify a service account instead.

[2019-06-12 18:23] asurjit79 commented on #1461
Thanks @Kurtisvg for your response. I used that as well and set the account name to my service account using the above mentioned command but it didn’t make much difference when I got the same error still.

[2019-06-12 19:08] gguuss commented on #1377
Ack, I'm looking into this.

[2019-06-12 19:12] #1313 closed

[2019-06-12 19:13] nnegrey commented on #1313
Solved in https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1452

[2019-06-12 19:13] nnegrey commented on #1312
Solved in https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1451. Closing.

[2019-06-12 19:13] #1312 closed

[2019-06-12 19:16] nnegrey commented on #1339
The samples are expecting a few environment variables that might not be picked up by the jar.

[code]

[2019-06-12 19:38] kurtisvg commented on #1461
@asurjit79 Did you still get the same message about using user credentials vs service account?

And just to confirm, you are referring to java-docs-samples/speech/cloud-client/src/main/java/com/example/speech/QuickstartSample.java?

[2019-06-12 21:23] asurjit79 commented on #1461
yes @kurtisvg, we are referring about QuickstartSample.java itself.

I think, the error message was same for both user credentials and service account but I will give it one more try.

And would like to paste bit more information about the earlier reply.

bash-3.2$ gcloud auth activate-service-account asurjit79@feisty-etching-243514.iam.gserviceaccount.com --key-file=/Users/asurjit/Downloads/feist

[2019-06-12 21:44] kurtisvg commented on #1461
Ok, so I checked the project_number in your original error, and the problem is definitely related to the wrong credentials. So let's try to debug what is going wrong.

How are you executing this code? Can you add the following lines at the top of the QuickStart:
[code]

This should (hopefully?) be a full proof way to make sure we are getting the correct credentials.

[2019-06-12 22:00] asurjit79 commented on #1461
Thanks @kurtisvg. SpeechClient.create method is complaining as it is not able to accept GoogleCredentials but looking for SpeechSettings.

**"The method create(SpeechSettings) in the type SpeechClient is not applicable for the arguments (GoogleCredentials)"**

[2019-06-12 22:06] asurjit79 commented on #1461
I am running this from the eclipse IDE itself..anything different I need to use

[2019-06-12 23:18] kurtisvg commented on #1461
Nope the IDE is fine - one easy mistake to make is setting environment variables in a terminal and then not getting them then you run your code in Eclipse. You have to specify them in the IDE as shown in this [SO post](https://stackoverflow.com/a/12810433/9414803).

I messed up on the snippet I gave you before, the Speech library specifies credentials like this:

[code]

That should work correctly

[2019-06-12 23:30] asurjit79 commented on #1461
Thanks buddy! It works now. Added environment variable to the run configuration and it solved the problem. Thanks again!!

[2019-06-12 23:41] kurtisvg commented on #1461
Glad we got it to work! I'm going to go ahead and close this out.

[2019-06-12 23:41] #1461 closed

[2019-06-14 16:54] averikitsch commented on #1348
Thank you for submitting this issue. The sample has been updated.

[2019-06-14 16:54] #1348 closed

[2019-06-14 17:12] averikitsch commented on #1385
To improve latency, you can use warmup requests similar to https://cloud.google.com/appengine/docs/standard/nodejs/configuring-warmup-requests.

[2019-06-14 17:12] #1385 closed

[2019-06-14 21:09] #1339 closed

[2019-06-23 16:35] jatins commented on #1377
Getting this with `google-cloud-pubsub:1.78.0` too

[code]

[2019-06-24 16:26] bbookman opened #1478 "Readme says nothing about InfiniteStreaming"
Please add usage details for InfiniteStreaming.py

[2019-06-24 16:32] averikitsch commented on #1478
Hi @bbookman, please provide the full path to the file you mentioned.

[2019-06-24 17:29] averikitsch opened #1479 "Flaky DLP tests"
## In which file did you encounter the issue?

dlp/src/test/java/com/example/dlp/InspectIT.java

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4/1561316765710/build%20%2375/Targets?target

[2019-06-24 17:35] averikitsch opened #1480 "Flaky Dialogflow tests"
## In which file did you encounter the issue?

dialogflow/cloud-client/src/test/java/com/example/dialogflow/KnowledgeBaseManagementIT.java

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4

[2019-06-24 17:38] averikitsch opened #1481 "Flaky Healthcare tests"
## In which file did you encounter the issue?

healthcare/v1beta1/src/test/java/snippets/healthcare/FhirResourceTests.java

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4/1561316765710/b

[2019-06-24 17:41] averikitsch opened #1482 "Broken IOT tests"
## Describe the issue

[Test Fusion 1](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4/1561316765710/build%20%2375/Targets?target=github%2Fjava-docs-samples%2Fiot%2Fapi-client%2Fend-to-end-example%2Ftarget%2Fsurefire-reports

[2019-06-24 17:46] averikitsch opened #1483 "Broken AutoML tests"
## Describe the issue

[Test Fusion - Translate](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4/1561316765710/build%20%2375/Targets?target=github%2Fjava-docs-samples%2Ftranslate%2Fautoml%2Ftarget%2Ffailsafe-reports&drilldow

[2019-06-24 17:49] averikitsch opened #1484 "Broken Video tests"
## Describe the issue

Permission denied in tests:

[Test Fusion - video/beta/](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4/1561316765710/build%20%2375/Targets?target=github%2Fjava-docs-samples%2Fvideo%2Fbeta%2Ftarget%2F

[2019-06-24 17:52] averikitsch opened #1485 "Flaky Vision tests"
## In which file did you encounter the issue?

vision/product-search/cloud-client/src/test/java/com/example/vision/ProductSearchIT.java

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/569be8a6-9318-4272-a25b-ad463abef9a4/15

[2019-06-24 17:55] gguuss commented on #1482
There is a limit of 100 registries and if the tests get rerun without cleaning up, we'll hit this limit. I'll see what can be done to clean them up before running the tests.

[2019-06-24 18:29] gguuss commented on #1482
Reopening until I've resolved the resource leak.

[2019-06-24 19:54] gguuss commented on #1482
Fixed in this PR https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1487

[2019-06-24 19:54] #1482 closed

[2019-06-24 20:42] beccasaurus commented on #1483
We're re-authoring (generating) these ~ will TAL

[2019-06-24 20:44] nnegrey commented on #1480
Nooooooooooo! haha
Um ok, I've tried to make this test less flaky quite a few times, I've got 1 more idea since we now test in Java 8 and 11.

I'm going to create a permanent Knowledge Base and Document for the DetectIntentKnowledgeBase Method, since I think Dialogflow has a training delay on new documents. If that doesn't work then I will pipe this back to the product team, but I think it is a ti

[2019-06-25 14:53] #1480 closed

[2019-06-25 14:54] nnegrey commented on #1480
I believe that re-work should fix this flakiness now. Going to close.

[2019-06-25 14:57] nnegrey commented on #1484
Well... that's weird.

[2019-06-25 16:27] #1484 closed

[2019-06-25 19:31] averikitsch commented on #1478
The user may be referring to file `speech/cloud-client/src/main/java/com/example/speech/InfiniteStreamRecognize.java`. This is not used in the docs. @nnegrey please decide whether to remove the sample or add usage to the ReadMe.

[2019-06-25 19:34] bbookman commented on #1478
Yes, I am talking about
speech/cloud-client/src/main/java/com/example/speech/InfiniteStreamRecognize.java
I do not recommend removing the sample as it is very useful and there are
folks at Google interested in this

On Tue, Jun 25, 2019 at 12:31 PM Averi Kitsch <notifications@github.com>
wrote:

--
Bruce Bookman

[2019-06-25 19:51] averikitsch opened #1491 "Broken Spanner tests"
## In which file did you encounter the issue?
Test file: `spanner/leaderboard/complete/src/test/java/com/google/codelabs/AppTest.java`

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/KOKORO/092ee28c-7372-428d-adeb-bfbf76460b0a

[2019-06-25 21:03] nnegrey commented on #1485
It looks like the dataset I created somehow got deleted, I just added it again to the API.

I've re-ran the tests multiple times, to make sure I didn't miss any code that deletes this.

It shouldn't keep happening now that there is a permanent named dataset, but I could've missed a delete call somewhere, I don't think so though.

[2019-06-25 21:03] #1485 closed

[2019-06-25 21:06] nnegrey commented on #1478
Yea, there is a back log from the docs side to get this sample in there. So we definitely want to keep it.

Are we still using READMEs or does the new rubric remove them?

Happy to add the `mvn exec:java -DInfiniteStreamRecognize` to the README if we are still keeping them.

[2019-06-25 21:29] gguuss commented on #1377
Reassigning to Kurtis as I'll be OOO starting this week

[2019-06-26 14:40] #1478 closed

[2019-06-26 17:20] kurtisvg commented on #1377
@Mouzitoto - As far as I can tell, the current sample is now working correctly, and doesn't throw the error even with the modifications.

Everyone else - the most likely cause of the problem is a conflict in dependencies somewhere in your `pom.xml`. If you are still having issues, please make sure you are using the most recent versions of any dependencies. If this doesn't fix the issue, please fee

[2019-06-26 17:20] #1377 closed

[2019-07-02 21:53] kurtisvg opened #1502 "Test Issue"
Test issue, please ignore.

[2019-07-02 21:54] #1502 closed

[2019-07-11 17:54] averikitsch commented on #1315
The sample has been updated.

[2019-07-11 17:54] #1315 closed

[2019-07-12 06:41] fonylew commented on #1324
I'm still experiencing this error. Referring to this post: https://groups.google.com/forum/#!topic/google-cloud-endpoints/xxqkH-mYcZc

[2019-07-17 16:30] ludoch opened #1514 "speech cloud client sample: how to setup project Id?"
in the speech/cloud-client sample, either in local mode or cloud shell, I cannot run it, and get instead:

[ERROR] testRecognizeFile(com.example.speech.RecognizeIT)  Time elapsed: 0.158 s  <<< ERROR!
com.google.api.gax.rpc.PermissionDeniedException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: Your application has authenticated using end user credentials from the Google Cloud SDK or Google C

[2019-07-17 20:15] kurtisvg commented on #1514
@nnegrey -- should these samples have a set up section?

[2019-07-17 20:20] nnegrey commented on #1514
Most definitely!

I'll add a quick thing that links to this step. https://cloud.google.com/speech-to-text/docs/quickstart-client-libraries#before-you-begin

@ludoch, you'll need to follow the "Before you begin" section on that link above. Sorry the README doesn't have any info on this. I'll add a Pre-Req step now.

Let me know if you need anything else.

[2019-07-17 20:57] #1514 closed

[2019-07-18 11:16] peterweb2005 opened #1517 "embedded server logging config problem (not sure if related)"
thanks,

after migrate to java11 (may because of embedded server as packed jar),
the log message is hard to read in log viewer:
https://console.cloud.google.com/logs/viewer

previously is 1 message 1 line, but now 2 lines:
A 2019-07-18T11:01:30.682397Z Jul 18, 2019 11:01:30 AM test.HelloServlet doGet
A 2019-07-18T11:01:30.682451Z INFO: doGet()
it is only 1 of the results, i tried many config appro

[2019-07-18 14:57] nnegrey commented on #1517
@kurtisvg, I'm not super familiar with app engine. Is there someone better to reassign this to?

[2019-07-18 15:41] kurtisvg commented on #1517
Closing this since it doesn't seem to be related to any specific sample.

Hi @peterweb2005,

Generally if you are using `java.util.logger`, you can either customize or replace the `SimpleFormatter` class to use whatever format you want. Take a look at the answers [from this SO post](https://stackoverflow.com/questions/7911186/how-do-i-suppress-the-date-line-from-2-line-java-util-logging-output) fo

[2019-07-18 15:41] #1517 closed

[2019-07-18 16:03] averikitsch commented on #1517
@peterweb2005, I'm not sure what is causing this issue, but you can solve this with filtering.
* HTTP request logs are sent to Stackdriver Logging under the `request_log` log.
* All STDOUT and STDERR output is sent to Stackdriver Logging under `stdout` and `stderr`.

To filter your logs, in the console next to [basic selector (where you can choose your GAE app)](https://cloud.google.com/logging/do

[2019-07-18 17:23] peterweb2005 commented on #1517
may not

not care console log, but the appengine log viewer
previous (jetty) console log 1 message in 2 lines, but appengine log viewer is 1 line (i guess the appengine (not embedded) jetty do the format, may decompile the lib and solve my problem)

[2019-07-18 21:06] peterweb2005 commented on #1517
i found that config file can affect these (server) logger level:

[code]

but not these (logger of application):
[code]

tried logger of slf4j, jul and "jetty util's StdErrLog or JavaUtilLog"

[2019-07-19 09:32] Haimonti opened #1518 "ClientSocket not a valid WebSocket"
I am trying to execute the code as is on the GCP. It builds successfully, but throws the following error on execution. Any help is really appreciated!

SendServlet doPost: Error sending message over socket: ClientSocket is not a valid WebSocket object.  Object must obey one of the following rules:  (SendServlet.java:52)
(1) class implements org.eclipse.jetty.websocket.api.WebSocketListener or
(2)

[2019-07-19 10:57] peterweb2005 opened #1519 "runtime java11 logging problem (not sure if related)"
thanks

previously (java8, jetty not embedded) only 2 types of log: activity, request
and in the log viewer:
https://console.cloud.google.com/logs/viewer
clicked the request log, can see the "logs in the request", eg:
(java util logging style)

"package & class name" process: process()

but now (java11, jetty embeded):
(logback style, even jul has the same problem)

A 2019-07-19T09:40:35.696266Z G

[2019-07-19 12:58] peterweb2005 opened #1520 "[env: standard] NullPointerException: No API environment is registered for this thread"
thanks

still showing this is standard environment in version page, but error for flexible environment?

(datastore)
[code]

also when getting data from memcache, but hard to consolidate the logs

thanks

[2019-07-19 13:49] nnegrey commented on #1519
@peterweb2005 it sounds like all three of these issues are related to the same thing you are working on, is that correct?

https://github.com/GoogleCloudPlatform/java-docs-samples/issues/1517
https://github.com/GoogleCloudPlatform/java-docs-samples/issues/1517
https://github.com/GoogleCloudPlatform/java-docs-samples/issues/1520

[2019-07-19 14:30] peterweb2005 commented on #1519
1,2 are the same

summary, problems are:
1, is it any logic to organize app log to request log?
2, api call for memcache and datastore through the sdk seems failed

[2019-07-19 16:58] peterweb2005 commented on #1519
seems need to create thread from jetty in custom way??

as in java8:
https://cloud.google.com/appengine/docs/standard/java/runtime

[2019-07-19 17:56] peterweb2005 commented on #1519
may be close

i got it, the 2 questions are because java11 need gcloud not appengine

[2019-07-23 11:48] hua21best commented on #697
@redserpent7 @Charles92011 thanks,Very useful to me

[2019-07-23 22:14] gguuss commented on #1520
Do you have more context around what's going on here? Are you using a sample from the java-docs-samples repo?  What's the path to the sample that is not working?

[2019-07-24 17:57] kurtisvg opened #1524 "Update Sample Guidelines to recommend using exec:exec"
See #1523 for example and reasoning

[2019-07-25 20:59] peterweb2005 commented on #1520
sorry, please close

seems java11 need gcloud api instead of appengine api

[2019-07-25 21:01] #1520 closed

[2019-07-26 21:34] lesv commented on #1524
@gguuss FYI - since you appear to be solving this.

[2019-07-26 22:05] gguuss commented on #1524
Putting some notes here for edges so far:

# Multiple command utilities

If you have multiple command utilities to be executed by the Maven Plugin, specify them as a profile:

[code]

# Required named arguments

Required named arguments are specified within the <configuration>...<arguments>... section of the profiles section when you're using multiple execution runners.

The following example show

[2019-07-30 12:58] shaileshkulkarni opened #1529 "Detect Intent from audio file always return empty response"
Hello,

I have edited default welcome intent in the Dialogflow project to respond 'Welcome to ABC Inc'.

Tried the examples given in the following links
https://cloud.google.com/dialogflow/docs/detect-intent-audio#detect-intent-audio-java

https://cloud.google.com/dialogflow/docs/detect-intent-audio#detect-intent-audio-nodejs

In both cases it simply returns empty response. No intent is detected.

[2019-07-30 13:19] shaileshkulkarni commented on #1529
This is the Java code.

package test;

import java.nio.file.Files;
import java.nio.file.Paths;
import java.util.UUID;

import com.google.cloud.dialogflow.v2.AudioEncoding;
import com.google.cloud.dialogflow.v2.DetectIntentRequest;
import com.google.cloud.dialogflow.v2.DetectIntentResponse;
import com.google.cloud.dialogflow.v2.InputAudioConfig;
import com.google.cloud.dialogflow.v2.QueryInput;
imp

[2019-07-30 13:20] shaileshkulkarni commented on #1529
Base64 encoding or not encoding does not matter in the output.

[2019-07-30 18:20] gguuss commented on #1529
Reassigning, I have not worked on DialogFlow.

[2019-07-30 18:21] gguuss commented on #1481
@noerog /FYI

[2019-07-30 21:20] gguuss commented on #1524
* [Basic example POM.xml](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/firestore/pom.xml)
* [Complex example POM.xml](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/iot/api-client/manager/pom.xml)

[2019-08-03 01:09] kamalaboulhosn opened #1531 "Cloud Pub/Sub example could result in message loss"
## In which file did you encounter the issue?
java-docs-samples/pubsub/cloud-client/src/main/java/com/example/pubsub/SubscriberExample.java

### Did you change the file?
No.

## Describe the issue

The example presented does not exhibit best practices for using Cloud Pub/Sub. The message is acknowledged as soon as it is added to the BlockingQueue. However, since the queue is not persistent, a cras

[2019-08-05 15:19] averikitsch opened #1532 "Broken Container Analysis Tests"
## In which file did you encounter the issue?

File: `container-registry/container-analysis/src/test/java/com/example/containeranalysis/SamplesTest.java`
Test: `testPubSub`

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/KOKORO/c3

[2019-08-05 15:27] averikitsch opened #1533 "Broken Diagflow Tests"
## In which file did you encounter the issue?

`/dialogflow/cloud-client/src/test/java/com/example/dialogflow/KnowledgeBaseManagementIT.java`
`dialogflow/cloud-client/src/test/java/com/example/dialogflow/SessionEntityTypeManagementIT.java`

## Describe the issue

[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fperiodic/prod%3Ac

[2019-08-05 15:58] nnegrey commented on #1531
@anguillanneuf, do you know who would be the right person to take a look at this?

[2019-08-05 16:06] nnegrey commented on #1533
Yea, I think it is time I talk to the product team about the Knowledge Base flakiness, it is still in beta, so that might be why we get random flakiness. If it isn't something that I can fix on my end, got any recommendations?

However, I can definitely fix one of those bugs by using UUID display names like I've used in other cases since we now run 2 java versions at the same time.

[2019-08-05 16:22] kamalaboulhosn commented on #1531
I took a stab at it in #1534.

[2019-08-05 16:25] averikitsch commented on #1533
I'll add it to our Java sync discussion topics.

[2019-08-05 19:07] nnegrey commented on #1533
Grrrrr. Someone deleted my knowledge base again that shouldn't have been deleted.

[2019-08-05 19:21] nnegrey commented on #1533
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1535

[2019-08-05 20:25] #1533 closed

[2019-08-06 17:26] anguillanneuf commented on #1531
Thank you @kamalaboulhosn so much for reporting this.

[2019-08-06 21:15] anguillanneuf commented on #1531
Closing now as the PR has been merged.

Message loss can be dealt by a blocking queue with `nack` logic and a processing timeout. One of Kamal's commits shows exactly how to do that in the PR.

[2019-08-06 21:15] #1531 closed

[2019-08-06 21:20] kamalaboulhosn commented on #1531
@anguillanneuf You don't need a blocking queue to handle message loss. The only thing required to avoid message loss is that the ack needs to happen after all processing of the message is complete. In the example prior to this PR, ack was being called at a point that was potentially before the message had been processed after being added to the blocking queue.

[2019-08-06 21:34] anguillanneuf commented on #1531
Thanks for calling this out!

[2019-08-07 14:22] ludoch opened #1538 "Remove obsolete deprecation for Java7, it is now gone."
Seeing this comment in README file samples:

Java 7 runtime support on App Engine standard was deprecated on December 13, 2017 and will be shut down entirely on January 16, 2019. It is replaced by the Java 8 Runtime Environment.

We need to remove it now.

[2019-08-07 14:25] ludoch commented on #1538
Or maybe delete the entire section
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/2e5996c68440134a79f1511c57529fa5cf987628/appengine/taskqueue/pull-samples
and others under appengine, as the entire directory seems to be for Java7 only.

Related to this deletion is the removal of references to Java7 in our docs (filed an internal bug for that).

[2019-08-07 14:27] ludoch opened #1539 "Create README file for App Engine Java 8 sample"
Nothing under
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java8/analytics

[2019-08-07 18:01] gguuss commented on #1538
I may be missing some of the affected files but I'm seeing most mentions of Java 7 as deprecation notices. There are a couple projects referencing (incorrectly) Java 7.

[code]

I'm happy to make a PR to fix these.

[2019-08-07 23:19] ludoch commented on #1538
All the samples under the ./appengine directory are for Java7, so should be deleted.
the relevant entries now are under ./appengine-java8
There, we should remove the java7 comments/references.

[2019-08-08 00:22] averikitsch commented on #1538
Yes, this is on our to do list, though we need to update our docs first.

[2019-08-08 20:59] gguuss commented on #1538
The first step of getting the samples updated to use Java 8 artifacts [was done here](https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1540/files).

[2019-08-12 10:26] kurtisvg commented on #1539
@averikitsch - The sample in question looks like it's from 2015 and doesn't have any region tags. Should it have a README, or can it just be removed entirely?

[2019-08-12 17:06] DanSanche commented on #1532
The PR I submitted should have fixed this

[2019-08-12 17:06] #1532 closed

[2019-08-12 17:38] averikitsch commented on #1539
Based on issue #151, it might be good to keep this sample and add it to the docs.

[2019-08-12 20:07] nnegrey commented on #1529
Did you modify the `AudioEncoding` to MP3?

[2019-08-13 17:16] ludoch opened #1544 "Need an updated Cloud Tasks v2 sample"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

[2019-08-13 17:20] ludoch commented on #1544
See https://github.com/GoogleCloudPlatform/java-docs-samples/blob/b407ebfa5e53d35bbe290cda1ebb08f28eca06cd/tasks/src/main/java/com/example/task/CreateHttpTask.java#L22
Cloud Tasks is now v2.
Some api changes regarding httprequest needed...
Or maybe it was in a beta release, and never GA?
This is quite confusing...

[2019-08-13 17:53] averikitsch commented on #1544
Hi @ludoch, HTTP targets for Cloud Tasks is still in beta. The client libraries across all languages are using this format.

[2019-08-13 17:53] #1544 closed

[2019-08-19 19:26] #1529 closed

[2019-08-19 20:23] #1519 closed

[2019-08-23 20:20] kurtisvg opened #1560 "Verify blunderbuss works"
This issue should auto assign to someone.

[2019-08-23 20:26] #1560 closed

[2019-08-30 07:36] hlguo opened #1570 "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential."
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue
I call the api as below:
[code]
but I got the message as below:
[code]
what's wrong?

[2019-08-30 15:11] nnegrey commented on #1570
Hi, it looks like you have possibly 2 different error messages?

From your title it seems to be an IAM issue with auth. Worth making sure you completed all the steps on this page: https://cloud.google.com/speech-to-text/docs/quickstart-protocol

For the 2nd error in the body of your issue, a `RESOURCE_EXHAUSTED` / Quota exceeded error is potentially from calling the API too much and exceeding the

[2019-08-31 09:04] hlguo commented on #1570
yes, I completed all the steps as you suggested in the 1st, then get the error as the 2nd error. I only call once.  my google account have not bind a credit card, is this the root cause?
![image](https://user-images.githubusercontent.com/10663799/64061724-41aedd00-cc11-11e9-9650-70ce57613eac.png)

[2019-09-03 08:06] hlguo commented on #1570
please help me!

[2019-09-03 14:55] nnegrey commented on #1570
Ah. So it looks like your gcloud is potentially trying to access a project you don't have access to.

The link: https://console.developers.google.com/project/764086051850/apiui/credential

Is the wrong Project Id (as you noted).

Can you verify your gcloud is on the right configuration?
`gcloud config configurations list`

Should output something like this:
[code]

From your images, it looks like

[2019-09-04 01:20] hlguo commented on #1570
the project is active as below:
![image](https://user-images.githubusercontent.com/10663799/64218124-f63b4e00-cef2-11e9-988d-30cef4b0dba7.png)

& the cloud as below:
![image](https://user-images.githubusercontent.com/10663799/64218661-31d71780-cef5-11e9-98d6-10713ed11910.png)

so it was very confused!

[2019-09-04 15:46] nnegrey commented on #1570
Can you run `gcloud auth application-default login` and make sure you have that set to the right project?

Also do you have `GOOGLE_APPLICATION_CREDENTIALS` set to anything?

[2019-09-05 01:34] hlguo commented on #1570
yes,many thanks, the speech:recognize work now.

[2019-09-05 13:34] hlguo opened #1571 "How to call StreamingRecognize method in multi-thread, every thread with a different stream source."
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

If I call StreamingRecognize method in multi-threads,  the stream in every thread sent to StreamingRecognize method is from different client.  such as many Android devices send voice stream to CDN server, then CDN server send the stream to StreamingRecognize method at the same time, for

[2019-09-05 14:03] #1570 closed

[2019-09-05 14:44] nnegrey commented on #1571
Assuming they are coming from Android Devices (or multiple threads) as long as each one is using a different client, you should be able to send multiple different streams.

The line highlighted above, is saying that before you start streaming data to the service, you must first send a config.

As seen here: https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/speech/cloud-client/sr

[2019-09-05 15:15] nnegrey commented on #1571
Update: turns out I was wrong, one client should be able to open multiple streaming requests on different threads.

[2019-09-06 00:57] hlguo commented on #1571
OK, many many thanks!

[2019-09-06 15:14] #1571 closed

[2019-09-10 11:15] maihoanglai opened #1575 "Error while checking the status of a transfer"
## In which file did you encounter the issue?
com.google.cloud.storage.storagetransfer.samples.RequestChecker. java

### Did you change the file? If so, how?
Changed **PROJECT_ID** and **JOB_NAME** accordingly.

## Describe the issue
I followed this tutorial but when I run the last command  to check status of the transfer operation it thrown error. I tried so many ways but couldn't understand what

[2019-09-10 15:05] kurtisvg commented on #1575
@frankyn - Can you clarify the proper format for the transfer job name?

[2019-09-10 22:39] frankyn commented on #1575
Hi @maihoanglai,

I ran the sample after updating the constants to the following:
[code]

I retrieved the transfer Job ID using the API Explorer in documentation (I linked to an example using a filter):
[List TransferService Jobs in project "your-project-id"](https://cloud.google.com/storage-transfer/docs/reference/rest/v1/transferJobs/list?apix_params=%7B%22filter%22%3A%22%7B%5C%22project_id%5C%2

[2019-09-11 08:36] maihoanglai commented on #1575
Thank your for your detailed answer @frankyn.
I did exactly what you did but I still confront with the error I mentioned above.
I'm not sure the difference between our environments. Did you run your code on Cloud Shell?

[2019-09-11 15:08] frankyn commented on #1575
No I ran this on my linux environment (Debian based). I might be jumping a step when explaining so I added a list of repro steps to compare against.

Steps to reproduce:
1. Update RequestChecker constants
[code]
1. Set environment variable with service account credentials
[code]
1. Run sample
[code]

[2019-09-11 15:26] maihoanglai commented on #1575
@frankyn
Thank for your very detailed repro steps.
I did the same as steps you mentioned. The difference that I can think of is just the running environment. Let me try and get back to you the result when I reach the office tomorrow. Thanks.

[2019-09-11 15:42] YongHuiLuo opened #1576 "urgent! ! ! How to use the Speech-to-Speech and Text-to-Translate interfaces in mainland China"
Emergency！！
The application we are developing is for global users and has been released online, but the real-time voice translation function cannot provide services for users in mainland China, prompting Google Auth 500, network error. I guess because the service account could not be certified because of Great Firewall of China. Is there any other way to pass the certification so that users in mai

[2019-09-11 16:27] frankyn commented on #1575
Thanks for the follow-up. Please keep me posted. I'm happy to continue debugging.

[2019-09-11 18:27] gguuss commented on #1576
I've followed up with one of our former EMEA contacts who may have more information but unfortunately my instinct here is that we do not have a good support story for this region.

[2019-09-11 18:28] gguuss commented on #1576
I'm going to close for now, will reopen and follow up if I can come up with anything. You can reach me by emailing <github@gusclass.com> as it may be a better option than here for now.

[2019-09-12 13:30] madhubkk opened #1579 "getting the error to fetch time service data for metric"
Sep 12, 2019 6:50:51 PM com.google.auth.oauth2.ComputeEngineCredentials runningOnComputeEngine
INFO: Failed to detect whether we are running on Google Compute Engine.
Exception in thread "main" java.io.IOException: The Application Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the environment variable GOOGLE_APPLICATION_CREDENTIALS must be

[2019-09-16 17:23] averikitsch commented on #1579
Hi @madhubkk, can you provide us with more information on what you are trying to do and how you got this error? From the error it looks like you need to set your env var GOOGLE_APPLICATION_CREDENTIALS. Learn how here: [Obtaining and providing service account credentials](https://cloud.google.com/docs/authentication/production#obtaining_and_providing_service_account_credentials_manually).

[2019-09-17 09:54] hlguo opened #1584 "Why speechClient.recognize is so slow?"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

Hi, I use speechClient.recognize as the code in sample code:
![image](https://user-images.githubusercontent.com/10663799/65030618-683f7880-d972-11e9-8927-e1d0b1eedde2.png)
 my code is running on aliyun site in Hongkong, my googe account default area is eastarea, so I think the time span

[2019-09-19 22:46] averikitsch commented on #1579
Please feel free to reopen this issue if your problem continues persist.

[2019-09-19 22:46] #1579 closed

[2019-09-20 05:57] hlguo opened #1589 "How to install Google Cloud SDK to Android & Set the environment variable GOOGLE_APPLICATION_CREDENTIALS on Android?"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

I want to test the Streaming interface on Android. but how to install Google Cloud SDK  & Set the environment variable GOOGLE_APPLICATION_CREDENTIALS on Android?

[2019-09-23 07:27] #1584 closed

[2019-09-23 07:27] #1589 closed

[2019-09-28 00:06] ludoch opened #1593 "Java11 samples should all listen to port $PORT and not 8080"
For example, the quikcstart sample used by our docs is java-docs-samples/appengine-java11/springboot-helloworld
and emit this nasty (I might make it nicer soon) message:

App is listening on port 8080, it should instead listen on the port defined by the PORT environment variable. As a consequence, nginx cannot be started. Performance may be degraded. Please listen on the port defined by the PORT e

[2019-10-01 16:21] varbues opened #1596 "How can one migrate GCS buckets across different projects"
Hi,

I'm following the example for migrating data on GCS through the [nearline transfer job](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/storage/storage-transfer/src/main/java/com/google/cloud/storage/storagetransfer/samples/NearlineRequester.java) and was trying to understand if there is a way we can transfer GCS files from buckets located in different projects.

I've alr

[2019-10-01 20:59] gguuss commented on #1596
I went ahead and answered your question on Stack Overflow. In short, you should be able to do this with an account that belongs to both organizations / projects. You can add members by email to a project from https://console.cloud.google.com/iam-admin and can use the `gsutil` app to copy the files.

[2019-10-01 20:59] #1596 closed

[2019-10-02 22:28] averikitsch commented on #1593
Samples have been re-evaluated and updated.

[2019-10-02 22:28] #1593 closed

[2019-10-04 18:07] bbookman opened #1602 "Speech Quickstart ClassNotFoundException"
MacOS 10.14.6
Apache Maven 3.6.1

Not sure this is the same: https://github.com/GoogleCloudPlatform/java-docs-samples/issues/330

Suggestions for a fix please, this is a real work blocker:

[code]

[2019-10-04 18:17] kurtisvg commented on #1602
@bbookman - Please opt to use the template when opening the issue in a repo.

Can you provide information on what file you are attempting to run, what changes you made, and what command you are attempting to use to execute it?

[2019-10-07 03:22] bbookman commented on #1602
This wasn't helpful?   (And yes, sorry for missing the important details)

java.lang.ClassNotFoundException: com.example.speech.**QuickstartSample**

Here: [QuickstartSample.java](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/speech/cloud-client/src/main/java/com/example/speech/QuickstartSample.java)

No changes at all.  I executed the command that is documented:
`mvn exec:j

[2019-10-07 15:34] kurtisvg commented on #1602
@bbookman Make sure you've followed the instructions and compiled the package so the exec plugin can find it. Once you run `mvn clean package` the jar should be on your class path and you should be able to run it with that command.

[2019-10-07 15:34] #1602 closed

[2019-10-07 19:40] bbookman commented on #1602
Can you be more specific about what this means, I'm pretty good at reading and following directions.

Followed WHICH instructions?

[2019-10-07 19:48] kurtisvg commented on #1602
The [README](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/speech/cloud-client/README.md) for that particular file outlines the following two steps:

1. Build the project `mvn clean package`
2. Run the sample: `mvn exec:java -DQuickstart`

You'll need to run these particular commands in the project folder (same folder as the `POM.xml` and the README linked above).

[2019-10-08 18:19] bbookman commented on #1602
Running 'mvn clean package' produced a number of errors relating to deleting certain directories.  I manually removed those and also ran 'mvn clean package' as sudo.

The result is the following error.  I understand that the problem is not directly related to the java samples, and I'm posting here for those others who may run into the same thing.

This 'error-prone' issue is documented here: https

[2019-10-08 19:05] kurtisvg commented on #1602
@bbookman - Just to confirm, you are using JDK 12 or 13?

I'm able to package successfully on JDK 8.

[2019-10-08 21:31] bbookman commented on #1602
Thanks @kurtisvg:

javac 12.0.1
Java(TM) SE Runtime Environment (build 12.0.1+12)
Java HotSpot(TM) 64-Bit Server VM (build 12.0.1+12, mixed mode, sharing)

Are these samples sanity tested when new versions of JDK come online?  Seems like they should be.  I'm not sure I wish to go to JDK 8 and corp policy might not allow it.

[2019-10-09 02:30] kurtisvg commented on #1602
We actively test the samples with Java 8 and Java 11 since those are the most actively supported. Theoretically, the Java SDKs should be able to compile down without issue.

The problem here isn't with the sample, but with error-prone. I think it's a dependency from the parent pom, so you may be able to still run it by removing that.

[2019-10-10 22:02] ludoch opened #1613 "java11 apps: entrypoints with -cp * should use -cp "*""
It seems that https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java11/gaeinfo/src/main/appengine/app.yaml#L17

did not work for me.
I had to put "*" instead of * in the classpath... Maybe this is a regression with the Ubuntu OpenJDK?

See https://stackoverflow.com/questions/219585/including-all-the-jars-in-a-directory-within-the-java-classpath

I guess all java11 samp

[2019-10-15 09:00] hlguo opened #1616 "io.grpc.StatusRuntimeException: CANCELLED: Failed to read message."
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

how to solve the problem com.google.api.gax.rpc.CancelledException: io.grpc.StatusRuntimeException: CANCELLED: Failed to read message.

my code is:
[code]
the audio data stream write to wav file as attached zip file, and the stream should be transformed to  onNext(1024 bytes every time),

[2019-10-17 22:10] nnegrey commented on #1616
What type of audio file is it?
The samples uses these settings:
[code]

[2019-10-18 01:22] hlguo commented on #1616
the file is 16000 sample rate, 16bit PCM, CHANNEL_IN_MONO & chinese voice, I have the code languageList.add("zh") above.

[2019-10-18 20:51] nnegrey commented on #1616
Have you tried increasing the number of bytes you send per request?

[2019-10-18 20:55] nnegrey commented on #1616
If I run the audio against one of our samples, this is what I get.
[code]

[2019-10-18 20:57] nnegrey commented on #1616
Where is your code that is actually reading the file?

[2019-10-21 11:08] hlguo commented on #1616
I transfer the audio stream to the interface & save the audio stream to the file, now I avoid the error, many thanks.

[2019-10-21 11:08] #1616 closed

[2019-10-21 14:12] hlguo opened #1625 "Is there a way to flush data to Recognize server ?"
[code]

after sendNext  how to flush data to recognize server immediately to speedup to get response from server? after flush data could I call init again?

[2019-10-21 15:28] kurtisvg commented on #1625
@nnegrey - Do you know if it is possible to force the stream to flush current data? I'm not familiar with this API.

[2019-10-21 15:31] nnegrey commented on #1625
No, that isn't possible.
If you want faster results, you can enable `.setInterimResults(true)` on your `StreamingRecognitionConfig`

This will give you:
"""
Optional If true, interim results (tentative hypotheses) may be returned as they become available (these interim results are indicated with the is_final=false flag). If false or omitted, only is_final=true result(s) are returned.
"""
https://c

[2019-10-21 15:31] #1625 closed

[2019-10-21 20:56] kurtisvg commented on #1575
Closing this out since it's been over 30 days with no response.

[2019-10-21 20:56] #1575 closed

[2019-10-22 08:38] hlguo commented on #1625
OK, many many thanks.

[2019-10-22 08:47] hlguo opened #1630 "Google-cloud-speech “detecting language spoken automatically” feature detecting only one language"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

I am trying to use the beta version of google-cloud-speech speech-to-text feature with "Detecting language spoken automatically" feature. The problem is if I give 2 alternate languages (in my case "en-US", "zh"), then it always detect english speech as  cmn-hans-cn, how to solve this pro

[2019-10-22 11:52] hlguo opened #1631 "How to solve the exception when ClientStream<StreamingRecognizeRequest> create & closeSend frequentlly?"
my code is as below:
[code]

before sent audio stream startSend() will be called, then sendNext(byte[] bytes) will be called many times to send audio stream, after the speak end, closeSend() will be called.
then start next speek, startSend() will be called again... then sendNext(byte[] bytes), then closeSend().

when run this, the below exception will be poped:
[code]

how to solve these exception

[2019-10-22 16:45] #1539 closed

[2019-10-22 17:05] averikitsch commented on #1613
Thanks Ludo for finding this bug.

[2019-10-22 17:05] #1613 closed

[2019-10-22 17:35] ludoch opened #1636 "Update the Java 11 samples to use the new Maven plugin 2.2.0"
The new plugin 2.2.0 release soon will simplify a lot the staging process to put dep jars in the staging dir automatically by parsing the main jar manifest entries...
Some cleanup will be needed in our pom.xml when we upgrade to 2.2.0.

[2019-10-22 17:52] ludoch commented on #1636
@saturnism @loosebazooka

[2019-10-23 09:13] hlguo commented on #1631
I modify the code as below:

 public void sendNext(byte[] bytes)
    {
        // Subsequent requests must **only** contain the audio data.
        if(clientStream.isSendReady())
        {
            request = StreamingRecognizeRequest.newBuilder()
                    .setAudioContent(ByteString.copyFrom(bytes))
                    .build();
            clientStream.send(request);
        }
    }

[2019-10-28 17:35] sdivi opened #1643 "BuildIapRequest fails when using workload Identity"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/iap/src/main/java/com/example/iap/BuildIapRequest.java

We're trying to change our applications to use workload identity instead of explicitly setting the GOOGLE_APPLICATION_CREDENTIALS path like we were doing before.
But we've hit an issue when one of our apps running on GKE tries to

[2019-10-28 18:20] kurtisvg commented on #1630
@nnegrey - PTAL

[2019-10-28 20:13] kimhSirtrack commented on #1520
Hi @peterweb2005 , I'm trying to migrate from Java8 to Java11 with OpenJDK and encoutnered same issue like yours. Can you guide me how can I set up gcloud api instead of appengine api through pom.xml?

[2019-11-03 00:17] volgin opened #1649 "Page not found after deploying micronaut app to Java11"
I have deployed micronaut-hello to Java11 runtime with no modifications other than (1) using my existing project, and (2) adding one line to app.yaml:

[code]
When I try to access this service in a browser, I get the following message, which seems like it's coming from micronaut:

{"_links":{"self":{"href":"/","templated":false}},"message":"Page Not Found"}

What may cause this?

The other service

[2019-11-03 01:43] volgin commented on #1649
I have deployed vertx-helloworld example to the same project as a different service, and it worked as expected. So the issue is micronaut specific.

[2019-11-03 10:03] hlguo commented on #1630
languageList.add("zh");
        RecognitionConfig recognitionConfig =
                RecognitionConfig.newBuilder()
                        .setEncoding(RecognitionConfig.AudioEncoding.LINEAR16)
                        .setLanguageCode("en-US")
                        .setSampleRateHertz(16000)
                        .addAllAlternativeLanguageCodes(languageList)
                        .build();

[2019-11-04 15:03] nnegrey commented on #1649
@averikitsch, are you the right person to take a look?

[2019-11-04 17:26] nnegrey commented on #1630
Do you get the same results if you don't use streaming?

[2019-11-04 17:59] averikitsch commented on #1649
After investigating this issue, it seems like our `<parent>` in the `pom.xml` is causing issues with micronaut's annotations. Please try removing this from the POM and redeploying.

[2019-11-04 18:00] averikitsch commented on #1649
@kurtisvg would it be ok to remove the parent from this sample for the time being?

[2019-11-04 18:06] kurtisvg commented on #1649
@averikitsch Do we know what is causing the conflict? I'd prefer to just bump any dependencies in the parent and do a new release if that will solve the issue.

IIRC, removing the parent not only removes the style checks + errorprone compiling, but may also interferes with the maven return code which means this module would essentially becomes untested. If you do remove it, please make sure to fil

[2019-11-05 01:40] hlguo commented on #1630
If I don't use streaming, I use the restful interface the result is right.

[2019-11-05 01:46] hlguo commented on #1630
Another problem, you can see I set languageList.add("zh"), but the result.getLanguageCode() is cmn-hans-cn, the two are the language code for chinese, but how can I know the result.getLanguageCode() for other languages?

[2019-11-05 04:13] volgin commented on #1649
Removing <parent> from the POM solves the problem.

[2019-11-05 19:55] averikitsch opened #1651 "DPEbot is not updating spring-cloud-gcp-dependencies"
A few samples use:
[code]
In September, the version was updated to `1.1.3.RELEASE`, but DPEbot has not added this to the [PR](https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1528/files)

[2019-11-05 23:44] nnegrey commented on #1630
Are you using the client library for non-streaming or making the rest call yourself?
The client libraries still use RPC.

[2019-11-06 02:59] hlguo commented on #1630
yes ,about 2 month ago, I test the spoken language detect effect using speechClient.recognize interface,  the result is good.  but it's decline in effect now.

[2019-11-06 03:00] hlguo commented on #1630
Is there a language code list for result.getLanguageCode() output?

[2019-11-11 16:07] kurtisvg commented on #1651
Looks like we've switch to Renvoate, so I'm going to mark this as closed.

[2019-11-11 16:22] pacom20003 commented on #1643
+1

Facing the same issue as well after enabling workload identity on one of our GKE clusters.
The suggested code change by OP does indeed work for ServiceAccountCredentials but not for ComputeEngineCredentials which suggests some issue with the ComputeEngineCredentials.sign() method.

`SignedJWT signedJwt = new SignedJWT(jwsHeader, claims);
String signedJwtStr = Base64.getEncoder().encodeToString

[2019-11-12 02:50] kurtisvg opened #1725 "Revert unnecessary alpha/beta dependencies"
DPEBot's auto update inadvertently let some alpha/beta dependencies in. We need to do an audit of any other alpha or beta dependencies and revert to GA versions.

[2019-11-12 18:00] forking-renovate[bot] opened #1727 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `packageRules[1]: Each packageRule must contain at least one match* or exclude* selector. Rule: {"allowedVersions":"!/.+-sp\\.[0-9]+$/"}`

[2019-11-12 21:08] gguuss commented on #1725
I haven't really done any work on the DPEbots, should I re-assign?

[2019-11-13 17:00] nnegrey opened #1730 "Add docs links to AutoML samples"
Add docs links to AutoML samples for MimeType once available.

[2019-11-13 19:20] quanganhhoang opened #1732 "Connection to Cloud SQL from Google App Engine Standard"
I followed this example to establish connections from my GAE - Standard to Cloud SQL.

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/cloud-sql/mysql/servlet/src/main/java/com/example/cloudsql/ConnectionPoolContextListener.java

However, I could not get a connection to the DB unless I remove line 57.

`config.addDataSourceProperty("useSSL", "false");`

I also noticed the same

[2019-11-13 19:56] quanganhhoang commented on #1732
On further investigation, now I am also able to get a connection to Cloud SQL with the above line included. The problem might be my mistake somewhere else. Closing this issue.

[2019-11-13 19:56] #1732 closed

[2019-11-15 00:41] averikitsch commented on #1651
Re-opening because Renovate hasn't picked up this dependency either.

[2019-11-15 21:46] kurtisvg commented on #1651
Renovate uses the `maven-versions-plugin` to run updates on these files. I tested the plugin manually and it seems to be working correctly and updating these bom versions.

I'm hoping that Renovate just hasn't gotten to this version yet since we've capped it to 5 prs at a time. I'll check back in a few weeks and see if it's updated.

[2019-11-16 18:21] FontanyLegall-Brandon opened #1739 "JavaMail activation DataContentHandler error"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java8/mail/src/main/java/com/example/appengine/mail/MailServlet.java

### Did you change the file? If so, how?

I didnt change the file

## Describe the issue
When i was trying to add JavaMail into my project, i get a NoClassDefFoundError, so i tryed to come to the java-doc

[2019-11-19 17:06] nnegrey commented on #1631
Once the `clientStream` is closed or in this case half closed, you can not use it to send any more info.

From the error it seems like some `sendData` call is happening after you closed the stream and before you open a new one.

[2019-11-19 17:19] nnegrey commented on #1630
Could be the team made some changes on the backend if there was a quality drop in results.
For that, it is probably best to file an issue against the API itself on this page: https://cloud.google.com/support/docs/issue-trackers

As we maintain the library and samples, but for the API itself, best to use the above link.

Here's the language list page: https://cloud.google.com/speech-to-text/docs/la

[2019-11-19 17:36] averikitsch commented on #1739
Hi @FontanyLegall-Brandon, when I tried to recreate this issue, I received this error when my java version was incorrect. Can you confirm you are using Java 8?

[2019-11-19 23:09] FontanyLegall-Brandon commented on #1739
Hey @averikitsch and thanks for the reply, i find a solution but is pretty strange.

Like, when i use the Google SDK from the following link, it work correctly : https://cloud.google.com/appengine/docs/standard/java/download?hl=fr

But, from the follow link (+ `gcloud components install app-engine-java`) don't work : https://cloud.google.com/sdk/docs/downloads-interactive?hl=fr

So i needed to rei

[2019-11-20 00:10] #1739 closed

[2019-11-22 08:48] hlguo opened #1749 "Does Google has the Language Understanding API as Microsoft Luis?"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

[2019-11-23 16:24] Elgarni opened #1752 "Using Lambdas instead of Anonymous Class"
## Describe the issue

I wonder why Lambda expressions are not used in place of Antonymous Class where applicable. for instance, the following snippet from [firestore](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/firestore/src/main/java/com/example/firestore/snippets/ManageDataSnippets.java#L382) :
[code]
Can be converted into:
[code]
The code is now less verbose, and easie

[2019-11-26 16:56] #1538 closed

[2019-11-27 17:58] chingor13 opened #1761 "Use com.google.cloud:libraries-bom for dependency management"
Moving forward, we're encouraging users to import the `com.google.cloud:libraries-bom` in the `dependencyManagement` section of the user's `pom.xml` to resolve dependency compatibility. Users will no longer need to specify individual version numbers for google-cloud-x libraries.

[2019-11-27 18:00] chingor13 opened #1762 "google-cloud-kms dependency way out of date"
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/kms/pom.xml#L28

The current version of google-cloud-kms is 1.35.0 (it's GA now)

[2019-11-27 18:02] gguuss commented on #1762
Reassigning to Dan as I believe he authored this sample.

[2019-11-27 18:03] gguuss commented on #1762
Dan, let me know if you can't get to this within SLO, happy to take a pass on it.

[2019-11-27 18:18] elharo commented on #1752
Sometimes yes, Java 7 is needed. It depends on the product.

[2019-11-27 18:23] kurtisvg commented on #1752
So for this repo we currently target all the samples in Java 8 (unless it's a specific to a Java version like App Engine), but we also don't actively go back and update existing samples. This sample was likely written for Java 7.

Feel free to PR changes if interested.

[2019-11-27 18:23] #1752 closed

[2019-11-27 18:24] kurtisvg commented on #1762
It would be good to figure out why Renovate hasn't updated this.

[2019-11-27 18:31] kurtisvg opened #1764 "Broken KMS tests"
Tests in `kms/` are failing due to lint checks - see #1763 for example.

[2019-11-27 19:01] elharo opened #1765 "KMS build is broken; error: plug-in not found: ErrorProne"
Ran mvn verify in ~/java-docs-samples/kms

[code]

[2019-11-27 19:08] averikitsch commented on #1761
@chingor13 can you add this to our sample format info? Also, is this an ask for updating existing samples?

[2019-11-27 19:32] #1765 closed

[2019-11-27 19:43] elharo opened #1767 "Need documentation explaining how to run tests in KMS"
Not immediately clear why. This is after setting the GOOGLE_APPLICATION_CREDENTIALS. It might be that there's some additional setup step needed to run these tests; perhaps something involving crypto providers to judge by the nature of the tests and the lines where it fails?

[code]

[2019-11-27 19:47] elharo commented on #1767
I notice the kokoro script sets up a lot of environment variables, installs the Cloud SDK, and perofrms other steps:

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/.kokoro/tests/run_tests.sh

It seems likely these are needed for the tests to pass and if so, the corresponding manual setup needs to be documented in CONTRIBUTING.md or some such.

[2019-11-27 19:50] averikitsch commented on #1767
Looks like there are a lot of [variables](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/kms/src/test/java/com/example/SnippetsIT.java#L46) you need to have set correctly.
Have you taken a look at the corresponding [docs](https://cloud.google.com/kms/docs/encrypt-decrypt)?

[2019-11-27 19:56] elharo commented on #1767
I think the docs we need for this repo are not written. The custom is a CONTRIBUTING.md file that lays out in detail all prerequisites for building and running tests. The docs you point to are for the KMS API and client libraries in general, not for this specific repo.

[2019-11-27 19:58] averikitsch commented on #1767
@DanSanche you were the last person to update these samples. Can you add or link to the correct set up steps or do you know who the right person would be? Thanks

[2019-11-27 21:08] DanSanche commented on #1767
Hmm I'm not seeing the same issue. I just cloned a fresh copy of the repo, and I'm getting a couple new checkstyle issues at the end, but no null pointer exceptions.

It's possible you need to enable the API or something in your project. I'll do some digging

[2019-11-27 21:19] elharo commented on #1767
It's likely you have environment variables set that I don't. For instance, you talk about "your project" but there's nothing in the docs to suggest I need a project to run the tests. Looking in the test code I find:

[code]

This is the sort of thing we should document in CONTRIBUTING.md.

[2019-11-27 21:51] DanSanche commented on #1762
I updated the version with no issues here https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1769. I'm not familiar enough with the repo to say why it's not being auto-updated though

[2019-11-27 22:08] DanSanche commented on #1767
It looks like the GOOGLE_CLOUD_PROJECT environment variable is mentioned already in [CONTRIBUTING.md](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/CONTRIBUTING.md#other-testing-set-up) - although maybe not as clearly as it should be. Feel free to submit a PR.

Were you having any other KMS-specific issues, or did it work after setting that one?

[2019-11-28 13:23] elharo opened #1771 "args4j in KMS"
per CONTRIBUTING.md "Simple command-line samples with only positional arguments should use the args argument to main(String... args) directly. A command-line sample which has optional parameters should use the Apache Commons CLI library."

However KMS (and perhaps others) uses args4j: https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/kms/pom.xml

[2019-11-29 13:44] Elgarni commented on #1752
Sure. Will look into that, at least for the samples I came across.

[2019-11-29 14:12] elharo commented on #1752
FWIW in cases like this I think the most readable and clearest option is to use non-anonymous, non-lambda, outer classes. Both lambdas and inner classes prioritize writability over readability.

[2019-12-02 16:35] #1631 closed

[2019-12-02 16:35] #1630 closed

[2019-12-02 18:20] DanSanche commented on #1767
I tested this out on a new project, and it looks like the tests run after enabling the API and setting GOOGLE_CLOUD_PROJECT. Since it seems like there are no issues with the KMS samples specifically, I'm closing this bug.

I agree this samples repo could be more friendly to first-time contributors though, so feel free to open a new issue or PR to address that, or re-open this one if you're still h

[2019-12-02 19:26] elharo commented on #1767
It sounds like we're still relying on local knowledge in developers' heads, not actual docs. For instance, you mention "enabling the API". Which API? How is that done? The details should be committed to the repo, probably in a CONTRIBUTING.md file in this directory since some of the steps will differ betweem different samples.

[2019-12-02 20:14] DanSanche commented on #1767
I'd argue most of this info should be put in this repo's root, since it should apply to all samples. Regardless, I opened a PR here to add this info to KMS's README as well. Let me know if you think it's missing anything

[2019-12-02 21:07] elharo commented on #1767
Got up to

[ERROR] com.example.SnippetsIT  Time elapsed: 0.504 s  <<< ERROR!
com.google.api.gax.rpc.PermissionDeniedException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: Cloud Key Management Service (KMS) API has not been used in project 147197868884 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/cloudkms.googleapis.com/overview?project=14719

[2019-12-02 21:12] elharo commented on #1767
Now I'm seeing error messages like:

[ERROR] com.example.CryptFileIT  Time elapsed: 1.279 s  <<< ERROR!
com.google.api.gax.rpc.PermissionDeniedException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: Permission 'cloudkms.cryptoKeyVersions.destroy' denied on resource 'projects/debugging-for-downloads/locations/global/keyRings/test-key-ring-6c735595-2b3a-4af0-adb8-fad9bd885ffc/cryptoKeys/4b751b

[2019-12-02 21:18] DanSanche commented on #1767
Try running it again. The tests need to set up keys, so sometimes the first run on a new project will fail as they are still being provisioned

[2019-12-02 21:26] elharo commented on #1767
I've tried multiple times. No change. :-(

[2019-12-02 21:48] DanSanche commented on #1767
Then it sounds like you likely don't have the right permissions to edit KMS resources. How are you authenticating gcloud? Assuming you're using a service account, what IAM roles were granted to it?

[2019-12-03 16:27] elharo commented on #1767
It's probably something like that. This is the sort of thing we need to be explicit about in CONTRIBUTING.md.

[2019-12-03 16:42] elharo commented on #1767
Looking in the cloud console it does seem that the test runs have created the keys:

![image](https://user-images.githubusercontent.com/1005544/70070643-f1ee0200-15c1-11ea-856d-5adae00db7de.png)

[2019-12-03 19:45] DanSanche commented on #1767
Ok, I added a mention of that to my README PR:

I think it's important to keep the intended audience of these docs in mind though - we follow strict processes for these samples, and don't expect many external contributions. We expect end users to interact with these samples primarily through [the docs](https://cloud.google.com/iam/docs/quickstart-client-libraries#client-libraries-install-java), wh

[2019-12-03 20:58] gguuss opened #1782 "Upgrade IoT client library"
The short version is that we should replace references to

[code]

with:

[code]

Example API call:

[code]

[2019-12-04 03:26] Elgarni commented on #1752
I see your point. I think since the goal of the samples is to showcase the usage of services, making the code in one block and keeping it short and concise is what users would usually want to get started.

[2019-12-04 16:45] kolea2 opened #1786 "AnalyzeIT and AnalyzeBetaIT failing when upgrading to libraries-bom"
While trying to upgrade to the libraries-bom, tests are failing. Not sure if this is the cause or not - opening an issue to track. See #1781

[2019-12-06 15:41] #1761 closed

[2019-12-06 17:55] chingor13 commented on #1643
I've opened a PR to update the IAP sample to use the new `IdTokenCredentials` mechanism added in google-auth-library 0.17.0 (the latest 0.18.0 is preferred though).

We introduced a new interface `IdTokenProvider` which a subset of `GoogleCredentials` types can provide (`ServiceAccountCredentials` and `ComputeEngineCredentials` both implement `IdTokenProvider`). The interface abstract the mechanis

[2019-12-09 21:06] averikitsch commented on #1786
Going to close this since the PR was merged. Feel free to reopen.

[2019-12-09 21:31] #1643 closed

[2019-12-10 17:29] kolea2 commented on #1786
Hey @averikitsch, sorry for the confusion - this is still an issue and was not included in the above PR's changes. reopening for tracking

[2019-12-10 17:39] averikitsch commented on #1786
@nnegrey Do you know if there are issues with the library versions for this or why these [tests](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/26a57e63-9e6f-442d-a6d7-6e9e5dc4fafc/1575398000837/build%20%231376/Targets) would be failing?

[2019-12-10 20:06] nnegrey commented on #1786
Um looks like whatever files the tests rely on are no longer there.
Pushing a PR with the fix.

[2019-12-10 20:23] nnegrey commented on #1786
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1797

[2019-12-10 22:47] #1786 closed

[2019-12-11 16:51] kolea2 opened #1799 "Update language samples with libraries-bom"
#1786 is resolved, so we can now update the dependencies

[2019-12-11 19:05] #1799 closed

[2019-12-11 20:01] elharo commented on #1749
I'm not familiar with Microsoft Luis. Perhaps this is something like https://cloud.google.com/text-to-speech/ or https://cloud.google.com/translate/? (just a guess)

[2019-12-11 20:01] #1749 closed

[2019-12-11 21:53] ludoch opened #1801 "Tasks sample is confusing (tasks area)"
First of all, the pom.xml at https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/tasks/pom.xml#L21
uses war packaging, but the sample contains only 2 classes, not a Web App.

Then is no main to test it.
Then,  if I create a main to call the first sample, with correct ceated queue, project and region, I get an error like:
 java -cp tasks-samples-1.0-SNAPSHOT-jar-with-dependencies.j

[2019-12-11 23:11] averikitsch commented on #1636
Renovate bot has updated the plugin version. I have gone through all samples and made sure the pom.xml were clean as possible.

[2019-12-11 23:11] #1636 closed

[2019-12-11 23:24] averikitsch commented on #1801
According to the [snippet definition](http://go/code-snippets-101#what-is-a-code-snippet), code samples do not have to be executable since that adds complexity to samples when added complexity is not wanted. We expect users to copy this code into a working environment.

For executable code please see our [quickstart](https://cloud.google.com/tasks/docs/quickstart-appengine).

[2019-12-11 23:25] loosebazooka commented on #1636
@averikitsch is there some PR associated with that change?

[2019-12-11 23:33] averikitsch commented on #1636
No changes needed. The new plugin did not reduce the lines needed to get the samples working. I was unable to find any documentation to describe the updates. Do you disagree?

[2019-12-11 23:39] averikitsch commented on #1649
@kurtisvg I believe there is conflict between the `annotationProcessorPaths` needed by the compiler plugin in the sample and the java-repo-tools.

[2019-12-11 23:41] ludoch commented on #1801
So the war packaging is not an issue?
What about the README that could point to the quickstart documentation link to help simple people like me?  It seems the README is incomplete.

[2019-12-11 23:55] averikitsch commented on #1801
Oops, I shouldn't have closed this before adding PR #1805.

[2019-12-11 23:57] loosebazooka commented on #1636
I'm not sure I even know what I'm looking for here.

I think we can remove some lines from some samples?

For instance: https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java11/quarkus-helloworld/pom.xml#L83

We don't need quarkus to be copying files in like this anymore? appengine-maven-plugin "should" do the right thing. I have not tested this though.

[2019-12-12 00:02] #1801 closed

[2019-12-12 00:04] ludoch commented on #1636
it works...I think...
On my initial repo, I had also a helidon sample which is using lib/ deps as
well

On Wed, Dec 11, 2019 at 3:57 PM Appu <notifications@github.com> wrote:

[2019-12-12 00:18] averikitsch commented on #1636
For the quarkus sample, it doesn't copy/create the correct jar file in the staging area without adding the configuration.

[2019-12-12 00:19] averikitsch commented on #1636
I can potentially add the artifact to the appengine maven plugin

[2019-12-12 00:23] loosebazooka commented on #1636
Sorry I should probably play around with the samples some more. Let me try them out tomorrow

[2019-12-12 00:31] averikitsch commented on #1636
Adding it as the artifact worked for quarkus. I think that is the only update, unless there is a solution for the copying over jar dependencies for running war servlets.

[2019-12-12 09:26] hlguo opened #1809 "the cost is not right"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

I run https://speech.googleapis.com/v1p1beta1/speech:recognize API to detect the language in audio file, I setLanguageCode("ja-JP") & languageList.add("zh"); languageList.add("en-US"); the document says the price is 0.006$/15s, I run 30128 files (time less then 15s) to test, the cost sho

[2019-12-12 18:57] averikitsch commented on #1649
Removing the error prone installation in the shared-configuration fixes the problem. Is there a way to exclude this or fix the compilation?

[2019-12-16 13:29] TsvetanBogoev opened #1815 "appengine-java8/websocket-jetty is not working"
send functionality in websocket-jetty example fails with this error:

`
HTTP ERROR 503
Problem accessing /send. Reason:

    Service Unavailable
Caused by:
javax.servlet.ServletException: org.eclipse.jetty.servlet.ServletHolder$1: java.lang.reflect.InvocationTargetException
	at org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:168)
	at org.eclipse.jetty.server.handle

[2019-12-16 15:51] codyoss opened #1816 "Fix ignored test: FhirResourceTest.test_FhirResourcePatch()"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/healthcare/v1beta1/src/test/java/snippets/healthcare/FhirResourceTests.java#L162

### Did you change the file? If so, how?

No

## Describe the issue

Test is currently ignored.

[2019-12-16 15:54] codyoss opened #1817 "Fix ignored test: FhirResourceTests.test_FhirResourceConditionalPatch()"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/healthcare/v1beta1/src/test/java/snippets/healthcare/FhirResourceTests.java#L174

### Did you change the file? If so, how?

No

## Describe the issue

The test is ignored.

[2019-12-16 15:55] codyoss opened #1818 "Fix ignored test: FhirResourceTests.test_FhirResourceConditionalUpdate()"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/healthcare/v1beta1/src/test/java/snippets/healthcare/FhirResourceTests.java#L188

### Did you change the file? If so, how?

No

## Describe the issue

The test is ignored.

[2019-12-16 15:57] codyoss opened #1819 "Fix ignored test: AlertIT.testRestoreBackup()"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/monitoring/v3/src/test/java/com/example/AlertIT.java#L84

### Did you change the file? If so, how?

No

## Describe the issue

The test is ignored.

[2019-12-16 15:59] codyoss opened #1820 "Fix ignored test: MoveServletTest.doPost_notMyTurn_move()"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/MoveServletTest.java#L154

### Did you change the file? If so, how?

No

## Describe the issue

The test is ignored.

[2019-12-16 16:00] codyoss opened #1821 "Fix ignored test: DeploymentTests.rolloutStartSetGetTargetCommitTests()"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/gameservices/v1alpha/src/test/java/com/google/cloud/gameservices/samples/DeploymentTests.java#L112

### Did you change the file? If so, how?

No

## Describe the issue

The test is ignored.

[2019-12-16 22:07] averikitsch opened #1824 "Dialogflow Test is Flaky"
[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/KOKORO/64234397-84f2-40ae-acc1-2ed2bd555dbc/1576510520639/build%20%23243/Targets?target=github%2Fjava-docs-samples%2Fdialogflow%2Fcloud-client%2Ftarget%2Ffailsafe-reports&drilldownTab=tests)

[2019-12-16 22:08] averikitsch opened #1825 "GameService Tests are Flaky"
[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/KOKORO/64234397-84f2-40ae-acc1-2ed2bd555dbc/1576510520639/build%20%23243/Targets?target=github%2Fjava-docs-samples%2Fgameservices%2Fv1alpha%2Ftarget%2Fsurefire-reports&drilldownTab=tests)

[2019-12-16 22:09] averikitsch opened #1826 "Speech Tests are Broken"
[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/KOKORO/64234397-84f2-40ae-acc1-2ed2bd555dbc/1576510520639/build%20%23243/Targets?target=github%2Fjava-docs-samples%2Fspeech%2Fbeta%2Ftarget%2Ffailsafe-reports&drilldownTab=tests)

[2019-12-16 22:10] averikitsch opened #1827 "Jobs Tests are Broken"
[Test Fusion](https://fusion.corp.google.com/runanalysis/test/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fcontinuous/KOKORO/64234397-84f2-40ae-acc1-2ed2bd555dbc/1576510520639/build%20%23243/Targets?target=github%2Fjava-docs-samples%2Fjobs%2Fv3%2Ftarget%2Fsurefire-reports&drilldownTab=tests)

[2019-12-16 22:34] kurtisvg commented on #1649
@averikitsch Is `shared-configuration` using the most recent version of error-prone? is it java11 compatible?

[2019-12-16 22:52] averikitsch commented on #1649
@kurtisvg I believe there's a minor update but updating still didn't make it compile work. It compiles but when you try to run it, micronaut can't find any endpoints.

[2019-12-17 17:15] kurtisvg commented on #1809
Hi hlguo@,

Issues on this repo should be related to the content of the repo itself. Please contact [Cloud Billing Support](https://cloud.google.com/support/billing/) to resolve your question.

[2019-12-17 17:15] #1809 closed

[2019-12-18 21:14] kurtisvg commented on #1649
@averikitsch Are we sure that ErrorProne is the issue? We should really turn renovate on the java-repo-tools to make sure everything is being updated

[2019-12-18 21:25] averikitsch commented on #1649
@kurtisvg it's most likely more of a micronaut using maven problem. I'm not sure how to dig into it more, but I believe it's a conflict with the [`annotationProcessorPaths`](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java11/micronaut-helloworld/pom.xml#L174) used with micronaut and error prone. Removing error-prone from the parent solves the problem.

[2019-12-21 00:59] Rokshan2016 opened #1905 "H17V2 Message Type"
Hi @hfwang

For this API H17v2 message ingest (messages:ingest) , what is the encoded form ? I tried to encode with online Base64 format ,  but getting this error

This is my original V2 message :
MSH|^~\&|AccMgr|1|||20050110045504||ADT^A01|599102|P|2.3|||
EVN|A01|20050110045502|||||
PID|1||10006579^^^1^MRN^1||DUCK^DONALD^D||19241010|M||1|111 DUCK ST^^FOWL^CA^999990000^^M|1|8885551212|8885551212|1

[2019-12-24 02:04] Rokshan2016 opened #1907 "FHIR Server patient-everything issue"
Hi @hfwang

I am trying to use this api

https://healthcare.googleapis.com/v1beta1/projects/{{ project_name  }}/locations/{{ region  }}/datasets/{{ dataset_name  }}/fhirStores/fhir-store/fhir/Patient/988e6160-90e7-4f73-b049-27e69cc7fede/$everything

Getting the following error :

{
  "issue": [
    {
      "code": "not-supported",
      "details": {
        "text": "bad_resource_type"
      },

[2019-12-27 05:42] bshaffer opened #1909 "Error in `session-handling` directory"
I had an issue with compiling/running the code in `session-handling`. Do you know what may have gone wrong?

1. I cloned this repo
2. `cd session-handling`
3. `gcloud config set project MY_PROJECT`
4. `mvn jetty:run`

OUTPUT:

[code]

[2019-12-27 15:40] kurtisvg commented on #1909
@bshaffer - It looks like you tried to compile it with an earlier version of Java. Can you try with Java 11 (or higher)?

If you aren't already aware, [SKDMAN](https://sdkman.io/) is a useful tool for managing JDK versions.

[2019-12-27 16:09] kurtisvg commented on #1762
Fixed by #1769

[2019-12-27 16:09] #1762 closed

[2019-12-27 21:59] bshaffer commented on #1909
Ahh ok, good to know. I'm using Cloud Shell, which is what the tutorial calls for, so I think either the sample needs to be updated to use the Cloud Shell version of Java, or the Cloud Shell Java version needs to be updated.

[2019-12-28 00:46] averikitsch commented on #1815
Thank you for reporting this issue. See PR #1913 for the fix needed.

[2019-12-28 01:28] #1815 closed

[2019-12-28 02:37] #1909 closed

[2019-12-30 19:06] #1820 closed

[2020-01-02 21:57] #1824 closed

[2020-01-07 22:59] #1826 closed

[2020-01-08 22:02] jinyeng opened #1934 "Text to speech transcribe RTMP"
Sorry not an issue but wanted to check if there is any documentation to transcribe an rtmp stream. It is a real usage scenario for live streaming. Has been asked few times on SO.

https://stackoverflow.com/questions/16803621/how-to-capture-live-audio-via-rtmp-using-xuggler
https://stackoverflow.com/questions/38453805/speech-to-text-from-a-live-stream

[2020-01-09 19:17] nnegrey commented on #1934
Text-to-Speech or Speech-to-Text?

Streaming Docs page: https://cloud.google.com/speech-to-text/docs/streaming-recognize

Speech to text `StreamingRecognitionConfig` https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1#streamingrecognitionconfig

Supported Audio Encodings: https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1#google.cloud.sp

[2020-01-09 19:17] #1934 closed

[2020-01-13 14:39] kolban-google opened #1942 "Vision sample - Label - using deprecated API - GoogleCredential"
In the following source ...

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/vision/label/src/main/java/com/google/cloud/vision/samples/label/LabelApp.java

There is the usage of a class that is now flagged as deprecated:

com.google.api.client.googleapis.auth.oauth2.GoogleCredential

A [StackOverflow](https://stackoverflow.com/questions/59710813/com-google-api-client-googleap

[2020-01-13 16:31] kurtisvg commented on #1942
@nnegrey - Can you take a look?

[2020-01-13 18:22] nnegrey commented on #1942
Looks like that sample got removed from our docs and I'm gonna propose deleting it.

People should be using the updated samples on this docs page: https://cloud.google.com/vision/docs/labels#vision-label-detection-java

[2020-01-13 18:49] crwilcox opened #1945 "storage: separate each sample into a separate file"
Each sample should be in a standalone file. This workitem is to track that work.

[2020-01-13 18:49] crwilcox commented on #1945
@JesseLovelace I believe you already are doing this as part of a broader effort.

[2020-01-13 19:04] nnegrey commented on #1942
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1946

[2020-01-13 19:27] kurtisvg commented on #1945
This could be expanded to more generally adjust samples to follow the [Sample Format Style Guide](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/SAMPLE_FORMAT.md) , which includes guidance on separate files.

[2020-01-13 19:53] nnegrey commented on #1942
I've answered directly on the StackOverflow question and can followup there if there is more questions, but since the old code has now been removed, I'm gonna close this issue.

Let me know if anything else is needed.

[2020-01-13 19:53] #1942 closed

[2020-01-15 17:38] czahedi commented on #1483
Noah/Torry, how go the AutoML tests?

[2020-01-15 18:37] averikitsch opened #1950 "Continuous tests failed for Translate"
https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava11%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava11%2Fcontinuous/KOKORO/7384cf77-2ce2-4d22-ae9a-a9673ad1ea8d/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava11%2Fcontinuous/Targets

[2020-01-15 18:44] nnegrey commented on #1950
Quick note for myself, looks like a timeout issue and I can bump the timeout.

Caused by: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded after 19.999356603s.

[2020-01-15 20:14] #1950 closed

[2020-01-15 21:23] #1725 closed

[2020-01-15 21:28] forking-renovate[bot] opened #1989 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Repository problems

These problems occurred while renovating this repository.

 - WARN: Gradle extraction failed

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] chore(deps): update dependency com.google.apis:google-api-services-healthcare to v1-rev20200909-1

[2020-01-15 21:52] averikitsch commented on #1651
Based on #1981 it looks like Renovate is picking this up now.

[2020-01-15 21:52] #1651 closed

[2020-01-15 23:34] nnegrey commented on #1483
I think I can go delete those samples now that those are GA'd products and the samples have been updated. But let me check that tomorrow for docs dependencies and I'll create a CL to update them now that they are all merged.

[2020-01-16 16:51] nnegrey opened #1991 "Dialogflow Tests Broken"
[dialogflow](https://source.cloud.google.com/results/invocations/1fc95c74-d216-4096-a48e-cd9c1bfad091/targets/github%2Fjava-docs-samples%2Fdialogflow%2Fcloud-client%2Ftarget%2Ffailsafe-reports/tests)

[2020-01-16 16:52] nnegrey opened #1992 "Old AutoML Vision Tests broken"
[vision automl](https://source.cloud.google.com/results/invocations/1fc95c74-d216-4096-a48e-cd9c1bfad091/targets/github%2Fjava-docs-samples%2Fvision%2Fautoml%2Ftarget%2Ffailsafe-reports/tests)

[2020-01-16 18:46] lesv opened #1993 "FLAKY TEST AppEngine11 Java SpringBoot PubSub"
See #1981 for context

Gradle is unhappy.
[code]
and the following errors:
[code]
From the logs:
[code]
and
[code]

[2020-01-16 19:15] lesv commented on #1993
Flaky test.

[2020-01-16 20:36] #1992 closed

[2020-01-16 20:39] nnegrey commented on #1483
Language I think I fixed in October.
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1599

Translate in Nov:
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1606

Going to close.

[2020-01-16 20:39] #1483 closed

[2020-01-16 20:39] nnegrey commented on #1483
Can't delete these snippets yet as too many different localization docs still rely on them.

[2020-01-16 22:34] #1991 closed

[2020-01-17 17:54] averikitsch commented on #1993
The gradle warning happens every kokoro run. Can we remove gradle from our testing image?
From my investigation, the pubsub error is a one off. The services was successfully deleted milliseconds before.

[2020-01-17 18:20] #1993 closed

[2020-01-18 00:09] kurtisvg opened #2003 "Add tests for gradle samples"
Need to add a new check for samples using gradle to build.

[2020-01-18 00:20] kurtisvg commented on #1827
Lesv@ mentioned he would delete the v2 samples.

I think the v3 ones are also broken, so please assign to the SWE responsible.

[2020-01-18 00:50] lesv commented on #1827
@chenlei1216 PTAL

[2020-01-18 00:50] lesv commented on #1827
V2 was deleted.

[2020-01-21 18:25] nnegrey opened #2011 "Move AutoML Video samples"
Move AutoML Video samples out of branch into master into automl directory and update the samples.

[2020-01-21 18:25] nnegrey commented on #2011
Fix: https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1370

[2020-01-23 02:50] kurtisvg opened #2016 "Audit Cloud SQL samples"
We have a few Cloud SQL samples that are are outdated and need to be cleaned up. We should check samples and make sure the ones we are no longer using get removed.

[2020-01-23 20:56] nnegrey opened #2025 "Dataflow Spanner IO Tests are failing"
PR: https://github.com/GoogleCloudPlatform/java-docs-samples/pull/2024
update apache_beam.version to v2.18.0

https://source.cloud.google.com/results/invocations/4bd9843f-2dbb-4654-a228-b489df8eee00/targets

[2020-01-24 22:39] averikitsch opened #2030 "Helloworld-springboot for flex needs updating"
The tests currently are broken

[2020-01-27 11:43] varsha28 opened #2035 "NettyChannelBuilder issue after upgrading to grpc 1.26.0 version"
On upgrading grpc version from 1.21.0 to 1.26.0 and protobuf version from 3.6.1 to 3.11.0, seeing following issue
```nested exception is java.lang.NoSuchMethodError: io.grpc.netty.NettyChannelBuilder.usePlaintext(Z)Lio/grpc/netty/NettyChannelBuilder```

[code]

any idea what is going wrong here?

[2020-01-27 16:17] nnegrey commented on #2035
Hi, are you working with a particular sample or GCP product?
What does your pom.xml look like?

[2020-01-27 16:29] varsha28 commented on #2035
[code]
these are the dependencies. This is an existing project, and I updated only the versions for grpc and protobuf and it broke..

[2020-01-27 16:30] varsha28 commented on #2035
It is not a GCP.

[2020-01-27 16:54] nnegrey commented on #2035
Ah, in that case, I'd suggest opening an issue on the `grpc-java` repo.
https://github.com/grpc/grpc-java

As this repo is for the samples for GCP.

[2020-01-27 16:54] #2035 closed

[2020-01-27 17:17] varsha28 commented on #2035
thanks :) will open in grpc-java

[2020-01-27 23:26] #2030 closed

[2020-01-27 23:27] averikitsch commented on #2030
Fixed in #2034

[2020-01-28 01:59] cesards opened #2038 "Problem connecting to Google Cloud PostgreSQL with the Servlet provided in the repo."
I'm opening an issue because I spent most of my Sunday figuring out how to connect my Kotlin-based Backend (using Ktor) with the PostgreSQL DB instance in Google Cloud

** Preconditions **

I could connect to it by using gcloud from my shell (described [here](https://cloud.google.com/sql/docs/postgres/quickstart):
[code]

After trying different URL combinations in order to connect to the Cloud DB

[2020-01-28 16:32] kurtisvg commented on #2038
Hi cesards@,

That sample is using the [Cloud SQL JDBC Socket Factory](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory#cloud-sql-socket-factory-for-jdbc-drivers). This library uses IAM credentials to authenticate connections to your Cloud SQL instance.

In order for this to work, you have to do the following:
1. [Add the library as a dependency](https://github.com/GoogleCloudP

[2020-01-28 16:32] #2038 closed

[2020-02-03 23:39] averikitsch opened #2051 "Translate Tests failing"
https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava11%2Fcontinuous/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava11%2Fcontinuous/KOKORO/ffc5bf22-2fb4-476e-8c99-b443a1012cc8/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava11%2Fcontinuous/Targets

[code]

[2020-02-05 03:51] skuruppu commented on #2025
@olavloite, would you be able to take a look at this?

[2020-02-06 17:40] ludoch opened #2055 "iap sample readme has a bad link"
In the README.md of
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/iap
there is a link in the Testing section "Deploy the demo app engine application. "
which is a 404 https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine/iap/README.md

I do not know what or were is the app engine application, so this is blocking my IAP investigation

[2020-02-06 17:47] ludoch commented on #2055
Via archeology research, it might be https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/iap/app_engine_app ? Not sure.
Would be  nice to better document this in the README...
Bonus point, since this is a Java sample, it would be better to see a Java App Engine App to talk to, so that we do not confuse/distract developers.

[2020-02-06 18:09] averikitsch commented on #2055
It was deleted when all Java7 samples were deleted. Undoing this in #2057

[2020-02-06 20:56] #2055 closed

[2020-02-06 21:02] averikitsch opened #2058 "Update appengine-maven-plugin version + instructions"
Update appengine samples with new plugin version and readme instructions

[2020-02-11 01:01] skuruppu opened #2061 "spanner: "Could not find policy 'pick_first'" when running "Getting started with Cloud Spanner in Java" guide"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/spanner/cloud-client/pom.xml

### Did you change the file? If so, how?

No

## Describe the issue

When you follow the steps at [Getting started with Cloud Spanner in Java](https://cloud.google.com/spanner/docs/getting-started/java/), I'm unable to run the samples because I get the f

[2020-02-11 01:03] skuruppu commented on #2061
@antfitch also ran into the same issue.

[2020-02-11 06:16] olavloite commented on #2061
@skuruppu I'll have a look right away. The samples do seem to use the Maven shade plugin in the build process, so it is probably a similar issue as in https://github.com/googleapis/google-cloud-java/issues/4700.

[2020-02-12 08:27] olavloite commented on #1491
@averikitsch or @skuruppu Could one of you copy-paste the error from Fusion into this issue? I cannot access the build logs on Fusion.

[2020-02-12 08:39] olavloite commented on #1491
This problem was fixed in https://github.com/googleapis/google-cloud-java/pull/5952. That PR was merged on 2019-08-01 and this flaky failure occurred on 2019-06-25, so this should not happen anymore. If it does, then please re-open.

[2020-02-12 08:39] #1491 closed

[2020-02-12 16:20] olavloite commented on #2025
This issue is being caused by conflicting versions of `io.opencensus:opencensus-api` being imported by the BigTable client and Spanner client in `beam-sdks-java-io-google-cloud-platform`. BigTable wants 0.15.0 and Spanner 0.18.0. Because they are both at the same level in the project hierarchy, and BigTable is included before Spanner, the version specified by BigTable is resolved and used. Excludi

[2020-02-15 00:23] #1767 closed

[2020-02-15 01:16] #2061 closed

[2020-02-16 20:12] #2025 closed

[2020-02-18 17:37] nnegrey opened #2132 "Datacatalog Build Failing"
GoogleCloudPlatform/java-docs-samples#2102

https://source.cloud.google.com/results/invocations/9479d637-f0f9-4e16-bc22-d0d28f83d079/targets

https://source.cloud.google.com/results/invocations/0eb0ea20-3c6d-4d29-b6f0-92bc7920ae29/targets

Reaching out to sample writer

[2020-02-18 17:41] nnegrey opened #2133 "Asset Test Failing"
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/2116

[2020-02-18 17:41] nnegrey commented on #2133
@peter-zheng-g

[2020-02-18 17:41] nnegrey commented on #2132
@mesmacosta

[2020-02-18 22:10] hilts-vaughan opened #2145 "Cloud Talent API: Java Histogram sample missing from source control (and others )"
https://cloud.google.com/talent-solution/job-search/docs/histogram#job_search_histogram_search-java

## In which file did you encounter the issue?

jobs/v4/src/main/java/com/google/cloud/examples/talent/v4beta1/JobSearchHistogramSearch.java

## Describe the issue
It existed on `talent-v4beta1-samples` but not on `master` now. The `talent-v4beta1-samples` branch is gone, though so many of them are

[2020-02-18 22:31] hilts-vaughan commented on #2145
I have a CL open to update the devsite; just need confirmation on the behaviour here / if we plan to support those samples / bring them back.

[2020-02-19 17:01] nnegrey commented on #2145
Branch deletion reverted.

[2020-02-19 17:01] #2145 closed

[2020-02-20 00:03] lesv opened #2162 "QuickstartArrowSample - the bigquery client appears not to be compatible w/ Java 11"
## bigquery/bigquerystorage/[QuickstartArrowSampleIT.java](../blob/master/bigquery/bigquerystorage/src/test/java/com/example/bigquerystorage/QuickstartArrowSampleIT.java)

## Describe the issue
[code]

[2020-02-20 00:17] lesv opened #2163 "Many samples somehow are bringing in xstream 1.3.1 through transitive dependencies."
This is incompatible w/ Java11 and has other issues as well.

[code]

This is being brought in by some transitive thing.  We really should set a minimum version rather than a general acceptance in the pom.

Projects where this is an issue (gcp/J-D-S repo):
- appengine-java11/guestbook-cloud-firestore
- appengine-java11/helloworld-servlet
- appengine-java11/oauth2
- almost all appengine-java8 sampl

[2020-02-20 00:34] shollyman commented on #2162
TODO: verify with Micah if this is a known issue in arrow, given other changes they're dealing with related to the arrow format.

[2020-02-20 01:43] shollyman commented on #2162
Looks like this surfaced for the arrow team itself here and became the doc guidance in https://issues.apache.org/jira/browse/ARROW-6206

tl;dr the ecommendation in that issue was to address netty issues by setting java option
-Dio.netty.tryReflectionSetAccessible=true

Under the hood grpc for java uses netty.

[2020-02-20 20:44] tbpg opened #2179 ".kokoro: enable Build Cop Bot"
Instructions here: https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop

The bot will automatically open and close issues for failing tests. You can file issues about it here: https://github.com/googleapis/repo-automation-bots/issues

[2020-02-21 00:40] #2162 closed

[2020-02-24 18:22] #1479 closed

[2020-02-24 22:22] tdh911 opened #2199 "Add securitycenter samples for v1p1beta1"
Add samples for new Notifications feature

[2020-02-25 18:11] lesv commented on #2132
@nnegrey what is the status of this issue?

[2020-02-25 18:29] lesv commented on #2133
Appears to have been fixed.

[2020-02-25 18:29] #2133 closed

[2020-02-25 22:41] #2199 closed

[2020-02-25 22:52] tbpg commented on #2179
I installed the bot on the repo (first step of the instructions). We still need to call the `buildcop` binary to publish the test logs.

[2020-02-26 18:18] #2132 closed

[2020-02-26 18:19] lesv opened #2218 "GameServices sample needs substantial updates"
## In which file did you encounter the issue?
gameservices/v1alpha/

### Did you change the file? If so, how?
RenovateBot tried to update to 0.19.0

## Describe the issue
Many API's have changed.

[code]

[2020-02-26 18:51] #2011 closed

[2020-02-26 20:51] build-cop-bot[bot] opened #2225 "com.google.cloud.gameservices.samples.DeploymentTests: rolloutRevertTest failed"
com.google.cloud.gameservices.samples.DeploymentTests: rolloutRevertTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 20:52] build-cop-bot[bot] opened #2226 "com.google.cloud.gameservices.samples.ScalingPolicyTests: createDeleteScalingPolicyTest failed"
com.google.cloud.gameservices.samples.ScalingPolicyTests: createDeleteScalingPolicyTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 20:52] build-cop-bot[bot] opened #2227 "com.google.cloud.gameservices.samples.ScalingPolicyTests: updateScalingPoliciesTest failed"
com.google.cloud.gameservices.samples.ScalingPolicyTests: updateScalingPoliciesTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 20:52] build-cop-bot[bot] opened #2228 "com.google.cloud.gameservices.samples.AllocationPolicyTests: createDeleteAllocationPolicyTest failed"
com.google.cloud.gameservices.samples.AllocationPolicyTests: createDeleteAllocationPolicyTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 20:52] build-cop-bot[bot] opened #2229 "com.google.cloud.gameservices.samples.ClusterTests: createDeleteClusterTest failed"
com.google.cloud.gameservices.samples.ClusterTests: createDeleteClusterTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 20:52] build-cop-bot[bot] opened #2230 "com.google.cloud.gameservices.samples.ClusterTests: listClustersTest failed"
com.google.cloud.gameservices.samples.ClusterTests: listClustersTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 20:52] build-cop-bot[bot] opened #2231 "com.google.cloud.gameservices.samples.ClusterTests: updateClusterTest failed"
com.google.cloud.gameservices.samples.ClusterTests: updateClusterTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 21:28] build-cop-bot[bot] opened #2232 "SampleTests: featuredJobSearchSampleTest failed"
SampleTests: featuredJobSearchSampleTest failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 21:45] lesv opened #2233 "Upgrade Spanner samples to OpenCensus 0.25.0"
## In which file did you encounter the issue?
spanner/cloud-client/pom.xml

### Did you change the file? If so, how?
Upgrade OpenCensus to v0.25.0 by RenovateBot in #2224

## Describe the issue

There are two issues here, both w/ the Spanner Samples:
SpannerSampleIT
[code]
QuickStartSampleIT
[code]

[2020-02-26 22:20] lesv opened #2238 "Findbugs (maven plugin) is no longer maintained and fails w/ Java11, switch to https://spotbugs.github.io/"
## In which file did you encounter the issue?

many

### Did you change the file? If so, how?

disabled Findbugs to make things compile.

## Describe the issue

The docs say that it is no longer maintained and should switch to: https://spotbugs.github.io/

[2020-02-26 22:28] build-cop-bot[bot] opened #2239 "com.example.vision.DetectIT: testSafeSearch failed"
com.example.vision.DetectIT: testSafeSearch failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 22:29] build-cop-bot[bot] opened #2240 "com.example.vision.DetectIT: testFaces failed"
com.example.vision.DetectIT: testFaces failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 22:29] build-cop-bot[bot] opened #2241 "com.example.vision.DetectIT: testSafeSearchGcs failed"
com.example.vision.DetectIT: testSafeSearchGcs failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-26 22:29] build-cop-bot[bot] opened #2242 "com.example.vision.DetectIT: testFacesGcs failed"
com.example.vision.DetectIT: testFacesGcs failed
buildID: 7faeda4bc4b20d0eb0f6ea8c1d6b814091fdef56
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7cd653b0-c140-4ccf-94d4-d3cf1ad23552), [Sponge](http://sponge2/7cd653b0-c140-4ccf-94d4-d3cf1ad23552)
status: failed

[2020-02-27 05:02] skuruppu commented on #2233
I can reproduce the issue with both OpenCensus version 0.24.0 and 0.25.0. Did a quick search to see if other people have run into this issue. Not much help there. I found https://github.com/census-instrumentation/opencensus-java/issues/2004 but it's still open.

@mayurkale22 would you be able to give some pointers on how to fix this?

[2020-02-27 06:32] mayurkale22 commented on #2233
This is related to https://github.com/census-instrumentation/opencensus-java/pull/1938

I think we should use the latest version of `grpc` dependency. To solve the issue, I have added `grpc-netty-shaded` and `grpc-core` into the exclusion list and separately addded latest version of `grpc-netty-shaded:1.21.0`.

[code]

[2020-02-27 13:40] tbpg commented on #2179
Enabled and seems to be filing issues. Marking as fixed. Thank you, @kurtisvg!

[2020-02-27 13:40] #2179 closed

[2020-02-27 17:02] nnegrey opened #2252 "Update Dialogflow tests"
Break up dialogflow samples into individual files
Update tests to be standalone.

[2020-02-27 23:21] nnegrey commented on #2242
@tbpg how delayed is the build that build cop builds?

[2020-02-27 23:23] nnegrey commented on #2241
Already fixed, see: https://github.com/GoogleCloudPlatform/java-docs-samples/issues/2242 for discussion

[2020-02-27 23:23] nnegrey commented on #2240
Already fixed, see: https://github.com/GoogleCloudPlatform/java-docs-samples/issues/2242 for discussion

[2020-02-27 23:24] nnegrey commented on #2242
Like if I close again since the PR with the fix was merged will this come back up today or should I wait till tomorrow?

[2020-02-28 01:33] tbpg commented on #2242
The Build Cop is based on the nightly/continuous tests. So, it's possible there is a build in progress -> you submit your PR -> the test fails -> this gets reopened, even if your PR did legitimately fix the problem. So, if this should be fixed, I'd mark it as closed. If it fails again, you can check the commit to see if it's before or after your PR.

Hopefully that makes sense. Let me know if ther

[2020-02-28 03:44] build-cop-bot[bot] opened #2261 "SampleTests: customAttributeSampleTest failed"
buildID: 9e0488246b98d859d260e845e9644c7e1b18c4f1
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/45bb983a-7630-46cf-b3f7-8365699020fc), [Sponge](http://sponge2/45bb983a-7630-46cf-b3f7-8365699020fc)
status: failed

[2020-02-28 04:47] #2239 closed

[2020-02-28 05:03] cle-beep opened #2262 "Vulnerable dependencies in your project.(CVEs)"
Hi, I have noticed that some library CVEs may be related to your projects. I suggest updating their versions to increase the security of your project. Please note the following details.
* **Vulnerable Library Version:** mysql : mysql-connector-java : 6.0.5
  **CVE ID:** [CVE-2019-2692](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-2692), [CVE-2018-3258](https://cve.mitre.org/cgi-bin/cven

[2020-02-28 15:27] JustinBeckwith commented on #2218
We chatted yesterday a bit about this.  Are any of these samples currently hosted on cloudsite?  Or do these only exist here?  Given the extent of the changes, wondering if we should yank the samples.

[2020-02-28 17:19] lesv commented on #2218
Didn't find it on cloudsite, I'll send you a PR.

[2020-02-28 18:51] lesv commented on #2231
Resolved by #2272

[2020-02-28 18:51] #2231 closed

[2020-02-28 18:51] lesv commented on #2230
Resolved by #2272

[2020-02-28 18:51] #2230 closed

[2020-02-28 18:51] lesv commented on #1821
Resolved by #2272

[2020-02-28 18:51] #1821 closed

[2020-02-28 18:52] lesv commented on #2218
Resolved by #2272

[2020-02-28 18:52] #2218 closed

[2020-02-28 18:52] lesv commented on #2225
Resolved by #2272

[2020-02-28 18:52] #2225 closed

[2020-02-28 18:52] lesv commented on #2226
Resolved by #2272

[2020-02-28 18:52] #2226 closed

[2020-02-28 18:52] lesv commented on #2229
Resolved by #2272

[2020-02-28 18:52] #2229 closed

[2020-02-28 18:52] lesv commented on #2228
Resolved by #2272

[2020-02-28 18:52] #2228 closed

[2020-02-28 18:53] lesv commented on #2227
Resolved by #2272

[2020-02-28 18:53] #2227 closed

[2020-02-28 21:57] build-cop-bot[bot] opened #2279 "com.example.speech.RecognizeIT: testTranscribeDiarizationGcs failed"
buildID: 36297666f52c4801273bf743a2bfb5cf5a7ca27d
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/f13585c7-0061-4a67-b6e5-6a533293837c), [Sponge](http://sponge2/f13585c7-0061-4a67-b6e5-6a533293837c)
status: failed

[2020-02-29 04:08] build-cop-bot[bot] opened #2283 "com.example.speech.RecognizeIT: testTranscribeDiarization failed"
buildID: 36297666f52c4801273bf743a2bfb5cf5a7ca27d
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/05592ad0-6692-4f01-adcc-3d941d46e12f), [Sponge](http://sponge2/05592ad0-6692-4f01-adcc-3d941d46e12f)
status: failed

[2020-02-29 21:52] #2283 closed

[2020-03-02 05:19] Ankitappperfect opened #2284 "Unexpected exception reading PKCS#8 data"
I'm generating credentials for the service account in GCP using JAVA SDK and I'm getting error for reading private key. I've compared the private key generated from JAVA SDK and from GCP console and there is a variation of length and formatting of a key in both cases. I've tried to convert key received from SDK to key received from GCP console but couldn't succeed.

[2020-03-02 16:32] #2242 closed

[2020-03-02 16:33] #2241 closed

[2020-03-02 16:33] #2240 closed

[2020-03-02 16:47] kurtisvg commented on #2284
Hi @Ankitappperfect,

This repo is for samples from our documentation. Is there a specific sample you were following that you believe it incorrect?

If not, please open an issue on the repo of the client you are user. It's also helpful to include information such as what version of the library, what version of java, and a sample of code to reproduce the issue.

[2020-03-02 18:30] #2279 closed

[2020-03-03 05:49] #2284 closed

[2020-03-03 05:53] Ankitappperfect opened #2293 "Unable to assign role to service account"
I'm able to create a service account but facing issues while assigning a role to the service account. Here is the approach I'm using
[code]

This code is not giving any error but also not setting a role for the provided service account.

[2020-03-03 12:20] elharo opened #2294 "Publish `java-docs-samples/appengine-java11/appengine-simple-jetty- main"
That is, avoid this annoyance in ~/java-docs-samples/appengine-java11/guestbook-cloud-firestore

[code]

[2020-03-03 12:25] elharo commented on #2163
No idea where this is coming from. I don't see it in `mvn dependency:tree`

[2020-03-03 16:35] averikitsch commented on #2294
Unfortunately, we are not going to publish the simple jetty main artifact. This is due to lack of maintenance resources and not wanting users to think this is a production-ready server. We have provided the servlet example for Java 11 to show users how to migrate their servlets from the Java 8 runtime, but this is not the main way we see users running on Java 11 GAE.

[2020-03-03 16:39] elharo commented on #2294
Makes sense. Perhaps these two could be combined into a multimodule project so that it builds without extra steps? For samples, it's really nice to have very straightforward buildable units.

[2020-03-03 17:15] nnegrey commented on #2293
I think the last line is wrong. But I'm not sure what your `service` object is.
I think you want something like this:
[code]

[2020-03-03 21:10] build-cop-bot[bot] opened #2302 "dlp.snippets.InspectTests: testInspectGcsFile failed"
buildID: 2a7d155eb2dfb8e1ebd3c7f5a1047e0f772aba72
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/fd431b58-df8f-44ba-9415-77a1d653f3eb), [Sponge](http://sponge2/fd431b58-df8f-44ba-9415-77a1d653f3eb)
status: failed

[2020-03-03 21:11] build-cop-bot[bot] opened #2303 "dlp.snippets.InspectTests: testInspectBigQueryTable failed"
buildID: 2a7d155eb2dfb8e1ebd3c7f5a1047e0f772aba72
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/fd431b58-df8f-44ba-9415-77a1d653f3eb), [Sponge](http://sponge2/fd431b58-df8f-44ba-9415-77a1d653f3eb)
status: failed

[2020-03-04 02:25] kurtisvg commented on #2302
Looks like the job just timed out. Closing for now, well re-examine if it pops up again.

/cc @shubha-rajan - FYI

[2020-03-04 04:33] Ankitappperfect commented on #2293
I've created service object of Iam class

[2020-03-04 21:14] build-cop-bot[bot] opened #2317 "dlp.snippets.InspectTests: testInspectDatastoreEntity failed"
buildID: 28c1179540ed9ebf0707540c326b7b9382598a52
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d8ddf986-da1f-4f09-8870-c1470297d8a0), [Sponge](http://sponge2/d8ddf986-da1f-4f09-8870-c1470297d8a0)
status: failed

[2020-03-05 22:59] build-cop-bot[bot] opened #2334 "com.example.video.DetectPersonIT: testDetectPerson failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 9ba90dfe6431ff7d3c3704900f846953d9312f81
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-05 22:59] build-cop-bot[bot] opened #2335 "com.example.video.DetectPersonGcsIT: testDetectPersonGcs failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 9ba90dfe6431ff7d3c3704900f846953d9312f81
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-07 00:59] shubha-rajan commented on #2302
#2317 is failing too.  I'm  going to take a look.

[2020-03-07 02:31] build-cop-bot[bot] opened #2352 "com.example.automl.BatchPredictTest: testBatchPredict failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: dfbb780a804f94e8b2e7ef1c8aeccc0b94aebe07
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-07 22:31] build-cop-bot[bot] opened #2355 "com.example.vision.ProductSetManagementIT: testCreateDeleteProductSet failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: f8c04f5683a9251a0b0d638a45e80dd791df5a5e
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-08 23:28] KOSSOKO commented on #1324
Hi, i'm follwing the tutorial and and i'm experiencing the same thing:

[code]
}

[2020-03-08 23:29] KOSSOKO commented on #1324
@fonylew Did you find a solution ?

[2020-03-09 16:50] nnegrey commented on #2293
Could you try using the `CloudResourceManager`?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/iam/api-client/src/main/java/com/google/iam/snippets/SetPolicy.java

[2020-03-09 19:57] shubha-rajan commented on #2303
Looks like this is related to the timeout failures in #2302 and #2317.

[2020-03-09 23:18] shubha-rajan commented on #2303
closed by #2359

[2020-03-09 23:18] shubha-rajan commented on #2317
closed by #2359

[2020-03-11 14:26] dmitry-fa commented on #1400
This problem is no longer reproducible: all existing tests pass, the latest SDK is used.
No need to remove `${apache_beam.version}` for dpe bot, because Renovate Bot handles it now.
Last PR from the bot:  https://github.com/GoogleCloudPlatform/java-docs-samples/pull/2222

The issue could be closed.

[2020-03-11 14:40] AVaksman commented on #1400
Closing the issue as per @dmitry-fa comment above.
Please reopen if the issue still persists.

[2020-03-11 14:40] #1400 closed

[2020-03-11 21:48] #2334 closed

[2020-03-11 21:48] #2335 closed

[2020-03-12 14:50] nnegrey commented on #2355
Old build. Closing again.

[2020-03-12 14:50] #2355 closed

[2020-03-12 20:10] build-cop-bot[bot] opened #2390 "com.example.cloud.iot.examples.ManagerIT: testGatewayListenForDevice failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: ac8f614cd3ccdde837afc93063a75ea5bcd5e337
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-12 22:16] lesv opened #2391 "iam/api-client should be rewritten - Cloud Resource manager API practices are awkward at best."
PR #2245 shows multiple bad practices, iam/api-client sample should be rewritten.

[2020-03-12 22:47] lesv opened #2392 "vision/product-search/cloud-client - possibly flaky test."
Test appears flakey.  I'm unable to run this using GOOGLE_CLOUD_PROJECT=java-docs-samples-testing and the same Service account as Kokoro.  See #2170

[2020-03-13 13:28] JustinBeckwith commented on #2261
@lesv I'm not quite sure which API this one applies to.  If it's related to a specific API, could I trouble you to throw an `api: ` label on it?  Also over to you since Dane is still OOO

[2020-03-13 14:46] nnegrey commented on #2392
Yea, I think I just need to switch it to UUIDs and rework the tests a bit. Did a bit of a fix earlier this week on some of them that were failing.

[2020-03-13 17:02] #2392 closed

[2020-03-13 19:41] lesv commented on #2261
Np - I'm more concerned about the 30 open PR's atm, but will get on this
Monday.

Les

On Fri, Mar 13, 2020 at 6:28 AM Justin Beckwith <notifications@github.com>
wrote:

--

*  •  **Les Vogel*
*  •  *Cloud Developer Relations
*  •  *lesv@google.com
*  •  *+1-4 <%2B1-650-338-7103>08-676-7023

[2020-03-13 20:27] lesv commented on #2261
This is the:
[code]

[2020-03-13 20:31] lesv commented on #2261
@ munkhuushmgl - this is with the Job/V3 sample.  I see that you wrote the V4 sample.  If you would like us to remove the v3 sample, please verify that it isn't included in any documentation.  Otherwise, please fix.

[2020-03-13 21:17] munkhuushmgl commented on #2261
@lesv it is included in [this doc](https://cloud.google.com/talent-solution/job-search/v3/docs/custom-attributes). I will fix it.

[2020-03-13 21:19] build-cop-bot[bot] opened #2408 "com.example.vision.DetectIT: detectWebAnnotationsGcs failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 1425e93c16a856f291d3116c8ef85a431d9f1d00
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-13 23:00] munkhuushmgl commented on #2261
https://github.com/GoogleCloudPlatform/java-docs-samples/pull/2411

[2020-03-15 03:09] build-cop-bot[bot] opened #2412 "com.example.spanner.SpannerSampleIT: testSample failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 34fbfe315223aaa6e79cb4bfd00945555b5785cd
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-16 19:56] #2233 closed

[2020-03-16 20:46] #2293 closed

[2020-03-17 03:56] build-cop-bot[bot] opened #2424 "com.example.vision.DetectIT: detectWebAnnotations failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 321fb5323a3429d2f57186b07623958aa34b7ea2
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-18 12:09] dmitry-fa commented on #2412
The test failed during the timing issue.

What the test roughly does (in that part which failed)
- updates 2 records
- reads stale data with `TimestampBound.ofExactStaleness(15, TimeUnit.SECONDS)`
- expect stale read sees old value

The test failed because 'read-stale-data' got the updated value, not the old one. This might have happened if the update/read operations had taken more time than usual

[2020-03-18 16:58] bdesmarez commented on #1324
@KOSSOKO I'm facing the same issue;
Contacting the support right now.
Did you find a solution on your side?
Thanks

[2020-03-18 17:07] KOSSOKO commented on #1324
@bdesmarez , you have to create a service account and load it inside you container.
The process:
1- Generate json service account and create a secrets in kubernetes
kubectl create secret generic cloud-endpoints-credentials \
 --from-file=cloudendpoint.json=gara-endpoints-credentials.json

2- load it inside your container. You should have this deployment file:
[code]

[2020-03-19 03:08] build-cop-bot[bot] opened #2436 "SampleTests: locationSearchSampleTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 4701fb2110c110bdf1356d30ae4329a191f394a9
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-19 17:21] mmmarklu opened #2438 "Error message about GCLOUD_PROJECT environment is incorrect"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/spanner/cloud-client/src/main/java/com/example/spanner/SpannerSample.java#L1671

### Did you change the file? If so, how?

No

## Describe the issue

If the project name is not set, the following error message is logged:

"Invalid project specified. Project in the database id should

[2020-03-19 20:22] #2436 closed

[2020-03-19 22:09] #2438 closed

[2020-03-20 16:14] averikitsch commented on #2058
Fixed by #2442 and #2441

[2020-03-20 16:14] #2058 closed

[2020-03-20 23:29] #2302 closed

[2020-03-20 23:29] #2303 closed

[2020-03-20 23:29] #2317 closed

[2020-03-22 19:43] build-cop-bot[bot] opened #2463 "com.example.firestore.snippets.QueryDataSnippetsIT: testOrderByNameDescWithLimitQuery failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-22 19:43] build-cop-bot[bot] opened #2464 "com.example.firestore.snippets.QueryDataSnippetsIT: testArrayQueryReturnsExpectedResults failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-22 19:43] build-cop-bot[bot] opened #2465 "com.example.firestore.snippets.QueryDataSnippetsIT: testSimpleQueryReturnsExpectedResults failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-22 19:43] build-cop-bot[bot] opened #2466 "com.example.firestore.snippets.QueryDataSnippetsIT: testRangeQuery failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-22 19:43] build-cop-bot[bot] opened #2467 "com.example.firestore.snippets.QueryDataSnippetsIT: testOrderByNameWithLimitQuery failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-22 19:43] build-cop-bot[bot] opened #2468 "com.example.firestore.snippets.QueryDataSnippetsIT: testQueryFilterInQueryWithoutArray failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-22 19:43] build-cop-bot[bot] opened #2469 "PredictionApiIT(sponge_log).testPredict failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 550f349a84214b1570babe4355c4eeb626c49201
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-23 12:30] oriolmanya opened #2473 "Google App Engine Java Error on Deploy. Cloud MySQL. Hikari Failed to initialize pool"
I have an error on deploying a Java App on Google App Engine. It happens at the end of the deployment phase executed by mvn package appengine:deploy.

On local it all works perfectly.

It's all explained here:
https://stackoverflow.com/questions/60802941/google-app-engine-java-error-on-deploy-cloud-mysql-hikari-failed-to-initialize

I copied this file, to implement Hiraki as well:
https://github.c

[2020-03-23 15:16] oriolmanya commented on #2473
hi @gguuss If you need any code or anything else, please, let me know

[2020-03-23 17:20] munkhuushmgl commented on #2261
I will look into it again.

[2020-03-23 17:28] #2424 closed

[2020-03-23 17:28] #2408 closed

[2020-03-23 18:06] gguuss commented on #2473
I'm less familiar with this issue and was just auto-assigned, I'll find someone better to answer your question.

[2020-03-23 18:08] gguuss commented on #2473
@GabeWeiss

[2020-03-23 18:11] GabeWeiss commented on #2473
*wave* There's probably some permission/access pieces and/or networking issues at play here... have you read through this doc yet: https://cloud.google.com/sql/docs/mysql/connect-app-engine#configuring ?

That's the first stop for AppEngine + CloudSQL. I have not personally played extensively with Maven, but enough to be dangerous so I may be able to help there as well, but let's start with that d

[2020-03-23 19:47] #2468 closed

[2020-03-23 19:47] #2467 closed

[2020-03-23 19:47] #2466 closed

[2020-03-23 19:48] #2465 closed

[2020-03-23 19:48] #2464 closed

[2020-03-23 19:48] #2463 closed

[2020-03-24 16:28] lesv commented on #2412
Let's see if it continues.  Following @dmitry-fa suggestion - closing.

[2020-03-24 16:28] #2412 closed

[2020-03-24 19:12] oriolmanya commented on #2473
Hi @GabeWeiss , thanks for the advice. I rechecked the permissions as well as I rechecked the DOC you provide.
Anyway, I find strange that if it is a permissions problem, it crashes on the deploy process, I would presume it would give an error on execution while it tries to connect to the Cloud MySQL. Am I wrong?
Here I attach the screenshot of the IAM permissions related:
![Screenshot 2020-03-24

[2020-03-24 19:34] GabeWeiss commented on #2473
Absolutely, shouldn't be a crash on permission...but I've seen weirder for sure. :D Permissions seem fine to me, but could also be connectivity and timeouts causing a crash.

One thing to be sure of... on the connection piece of code, do you call:
config.setJdbcUrl(String.format("jdbc:mysql:///%s", DB_NAME));

I see in the SO question, you're calling:
config.addDataSourceProperty("socketFactory",

[2020-03-24 19:53] kurtisvg commented on #2473
Not sure the direct problem, but there is some funkiness going on in your pom:
[code]

[2020-03-24 19:56] kurtisvg commented on #2473
Not sure of the direct problem, but there's funkiness in your pom that's probably causing issues:

You have the mysql-connector and jdbc-socket-factory here:
[code]

And then you also have the mariadb connector here:
[code]

It looks like the mariadb connector is being used, but the Cloud SQL doesn't support mariadb (and neither does the java jdbc socket factory).

[2020-03-25 22:21] averikitsch opened #2491 "healthcare/v1beta1 test_Hl7v2MessageList failed"
Test failed with BOM update PR #2484
[Test Fusion](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/9acde03e-5a5d-4af6-b333-1c14faee35d1/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/Targets)

[2020-03-25 22:22] averikitsch opened #2492 "video/beta testSpeechTranscription failed"
Test failed with BOM update PR #2484
[Test Fusion](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/9acde03e-5a5d-4af6-b333-1c14faee35d1/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/Targets)

[2020-03-25 22:23] averikitsch opened #2493 "vision/automl testPredict failed"
Test failed with BOM update PR #2484
[Test Fusion](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/9acde03e-5a5d-4af6-b333-1c14faee35d1/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/Targets)

[2020-03-25 22:24] averikitsch opened #2494 "automl/beta testTablesPredict failed"
Test failed with BOM update PR #2484
[Test Fusion](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/9acde03e-5a5d-4af6-b333-1c14faee35d1/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/Targets)

[2020-03-25 22:25] averikitsch opened #2495 "container-registry/container-analysis testPubSub failed"
Test failed with BOM update PR #2484
[Test Fusion](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/9acde03e-5a5d-4af6-b333-1c14faee35d1/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/Targets)

[2020-03-25 22:26] averikitsch opened #2496 "translate/cloud-client testBatchTranslateTextWithGlossary failed"
Test failed with BOM update PR #2484
[Test Fusion](https://fusion.corp.google.com/runanalysis/buildlogs/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/KOKORO/9acde03e-5a5d-4af6-b333-1c14faee35d1/0/prod%3Acloud-devrel%2Fjava%2Fjava-docs-samples%2Fjava8%2Fpresubmit/Targets)

[2020-03-26 02:44] munkhuushmgl commented on #2492
Due to access issue, I cant see output from `Test Fusion`.

Which sample is it associated with?

[2020-03-26 03:22] ningyougang commented on #1616
@nnegrey
Regarding `Have you tried increasing the number of bytes you send per request?`
have any configuration?

[2020-03-26 15:13] nnegrey commented on #2494
Note to self:
Failures:
1. testing video/beta
2. testing vision/automl

@averikitsch, I don't see that the `automl/beta` folder had tables tests failing, but I will check those tests. I did see the 2 old set of samples are failing and I will update the tests for those. Though I'd prefer to delete them, but can't quite yet. Did I just scroll past or not find the tables error?

[2020-03-26 15:35] oriolmanya commented on #2473
Hi @kurtisvg, it worked! It was legacy code I didn't have under control. I cleared the -otherwise unused- references to MariaDb. Many thanks for the outstanding hint, you saved me, I was trying this for days.

[2020-03-26 15:35] #2473 closed

[2020-03-26 16:26] averikitsch commented on #2492
Looks like flaky request limit
[code]
I am going to close since it passed now.

[2020-03-26 16:26] #2492 closed

[2020-03-26 16:31] averikitsch commented on #2494
Sorry, I think I copied this error from another PR I am working on. Also Video/beta is just a flaky resource limits. Closing this issue.

[2020-03-26 16:31] #2494 closed

[2020-03-26 16:35] nnegrey commented on #2494
I'll go make a quota request increase on video.

[2020-03-26 16:56] nnegrey commented on #2494
Actually, the flakiness seems to be `INTERNAL: Internal error encountered.` but on a flaky issue I don't know what that could even be.

[2020-03-26 16:56] nnegrey commented on #2496
Looks like it was a timeout issue, bumping the timeouts for the batch jobs.

[2020-03-26 17:23] #2493 closed

[2020-03-26 17:23] #2496 closed

[2020-03-27 01:53] build-cop-bot[bot] opened #2507 "com.example.containeranalysis.SamplesTest: testPubSub failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 1d8afbea482db3c4cb6ec58826a3b322afc0e987
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-28 00:44] tranthanhtung04101995 opened #2517 "Error while Sends data on behalf of a bound device using the Gateway ?"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

[2020-03-28 00:47] tranthanhtung04101995 commented on #2517
/java-docs-samples/blob/master/iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/MqttExample.java
mqtt ClientId - a wrong calculation led to an error
`    // Google Cloud IoT Core, it must be in the format below.
    final String mqttClientId =
        String.format(
            "projects/%s/locations/%s/registries/%s/devices/%s",
            projectId, cloudRegion, registryId, g

[2020-03-29 04:52] kurtisvg commented on #2517
Hi @tranthanhtung04101995 - Can you please include more information about that the problem is and what you are trying to do?

[2020-03-29 05:08] kurtisvg commented on #1524
Closing this as I believe we decided we no longer want to use this pattern.

[2020-03-29 05:08] #1524 closed

[2020-03-30 05:52] Enzyme3 opened #2519 "flexible/helloworld-springboot fails to deploy to GAE"
## In which file did you encounter the issue?
flexible/helloworld-springboot/pom.xml

### Did you change the file? If so, how?
In pom.xml, added the <executions/> block

[code]

## Describe the issue
`mvn clean package appengine:deploy` fails with error:
[INFO] GCLOUD: ERROR: (gcloud.app.deploy) Error Response: [9]
[INFO] GCLOUD: Application startup error! Code: APP_CONTAINER_CRASHED

Checked out

[2020-03-30 21:32] #1649 closed

[2020-03-30 22:08] #2519 closed

[2020-03-30 22:32] davidair opened #2533 "Error compiling getting-started-grpc"
## In which file did you encounter the issue?
endpoints\getting-started-grpc\gradlew.bat

### Did you change the file? If so, how?
No

## Describe the issue

I am unable to build the _gRPC Getting Started_ sample on Windows with JDK 8.
I am running the following command:

[code]

Here is the result:

[code]

OS: Windows 10 version 1903
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_241

Note that I was

[2020-03-31 01:14] davidair commented on #2533
I compared this to the gRPC project and was able to find the following workaround:

1. Edit endpoints\getting-started-grpc\api\build.gradle
2. Change the com.google.protobuf classpath

Current:
[code]

Updated:
[code]

[2020-03-31 01:17] davidair commented on #2533
Note: this issue reproduces regardless of the OS, I was able to reproduce on Linux as well, and the workaround works there too. Updated the title to reflect this.

[2020-03-31 02:49] build-cop-bot[bot] opened #2536 "SampleTests: emailAlertSearchSampleTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 19ef074f0ece94cd52b534591b5909d42e711488
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-31 08:23] tranthanhtung04101995 commented on #2517
I am trying to send data from the device to Google IoT Core. How do I do that?

[2020-03-31 10:04] makk94 opened #2537 "Add code samples for Service Directory"
This is a new product, client libraries were just created and we should add some snippets.

[2020-03-31 16:51] boostrack commented on #1324
could someone post required roles for service account please?

[2020-03-31 16:55] KOSSOKO commented on #1324
@boostrack your service account must have the admin role for cloud endpoints;.

[2020-03-31 16:56] boostrack commented on #1324
@KOSSOKO  Thank you so much!

[2020-03-31 20:37] #2536 closed

[2020-03-31 21:39] lesv commented on #2533
Would be nice to understand why this didn't get upgraded by RenovateBot? @chingor13

[2020-03-31 21:54] #2533 closed

[2020-04-01 19:21] lesv commented on #2491
[code]

[2020-04-01 19:22] lesv commented on #2491
I commited #2484 which added this issue.

[2020-04-01 19:24] lesv opened #2545 "video/beta com.example.video.DetectIT.testTrackObjects invalid argument"
[code]
Possibly induced by #2484

[2020-04-01 19:52] munkhuushmgl commented on #2232
I will look into it!

[2020-04-01 21:44] lesv commented on #2545
Also broke #2384

[2020-04-01 21:48] lesv opened #2549 "Jobs/v4 API surface appears to have changed"
In PR #2384 we upgraded the BOM and got in both Java 8 & Java 11 testing:
[code]

[2020-04-01 21:49] lesv commented on #2491
Stuff also shows up in PR #2384 Java 11 testing:
[code]

[2020-04-01 21:55] lesv commented on #2545
Also appears in #2363

[2020-04-01 22:07] #2261 closed

[2020-04-01 22:07] nnegrey commented on #2545
Yea for some reason the `.mp4` file we use is now considered an invalid argument, updating the test to use a new file.

[2020-04-01 22:13] lesv commented on #2491
Closing PR #2396 due to this.
[code]

[2020-04-01 22:20] lesv opened #2551 "asset/cloud-client failing test"
# Java 11
[code]

[2020-04-01 22:21] #2232 closed

[2020-04-01 22:22] lesv commented on #2551
@peter-zheng-g PTAL

[2020-04-01 22:23] lesv commented on #2551
Found in PR #2403

[2020-04-01 22:51] munkhuushmgl commented on #2549
I will fix this.

[2020-04-01 23:07] lesv commented on #2491
Similar issues in PR #2456

[2020-04-01 23:52] #2545 closed

[2020-04-02 00:19] lesv commented on #2551
Please make sure to upgrade com.google.cloud.samples:shared-configuration to v1.0.14 and fix any issues.

[2020-04-02 00:20] lesv commented on #2549
Please make sure to upgrade com.google.cloud.samples:shared-configuration to v1.0.14 and fix any issues.

[2020-04-02 00:20] lesv commented on #2491
Please make sure to upgrade com.google.cloud.samples:shared-configuration to v1.0.14 and fix any issues.

[2020-04-02 00:24] lesv commented on #1827
Probably should have been closed w/ #2002

[2020-04-02 00:24] #1827 closed

[2020-04-02 00:26] lesv commented on #1398
This probably should have been asked on StackOverflow.  If you are still in need of an answer (and it's been over 9 months - so apologies), please reopen.

[2020-04-02 00:26] #1398 closed

[2020-04-02 00:29] lesv commented on #1905
ideally questions are asked on StackOverflow.  Please reopen if you still need an answer.

[2020-04-02 00:29] #1905 closed

[2020-04-02 00:30] lesv commented on #1907
Ideally, questions are asked on StackOverflow.  Please reopen if you still require an answer.

[2020-04-02 00:30] #1907 closed

[2020-04-02 00:32] lesv commented on #1518
Please ask questions on StackOverflow, if you still need an answer, you may reopen this issue.

[2020-04-02 00:32] #1518 closed

[2020-04-02 00:34] lesv commented on #1764
This appears to have been fixed.  Closing.

[2020-04-02 00:34] #1764 closed

[2020-04-02 00:42] lesv commented on #1771
We've revised our guidelines to prefer non-command line samples.  Unless you are asking for the sample to be rewritten, I'm going to close this.  If we reopen, it should probably be a feature request, P2 and not a cleanup as our cleanups appear to have no SLA's.

[2020-04-02 00:42] #1771 closed

[2020-04-02 00:51] lesv commented on #2491
Please fix or remove the sample before 4/12.

[2020-04-02 11:07] makk94 commented on #2537
Moving this request to a different repo, see https://github.com/googleapis/java-servicedirectory/issues/27

[2020-04-02 11:07] #2537 closed

[2020-04-02 15:51] nnegrey commented on #2551
Also in PR https://github.com/GoogleCloudPlatform/java-docs-samples/pull/2168

[2020-04-02 21:43] gguuss commented on #2507
Adjusting priority and assigning to @DanSanche

[2020-04-02 22:11] gguuss commented on #2517
@tranthanhtung04101995 The process is as follows:

Set up the gateway and device using [Cloud console](https://console.cloud.google.com/iot) / [Google Cloud SDK](https://cloud.google.com/sdk) / API
- Create Gateway
- Create Device
- Bind Device to Gateway

Connect and send using MQTT
- Connect Gateway over MQTT
- Attach Device to Gateway using MQTT
- Now you can publish to the device's topic which

[2020-04-03 02:18] #2517 closed

[2020-04-03 14:18] #2507 closed

[2020-04-03 21:34] lesv commented on #1816
status?

[2020-04-03 21:35] lesv commented on #1817
status?

[2020-04-03 21:35] lesv commented on #1818
Status?

[2020-04-03 21:35] lesv commented on #1819
Status?

[2020-04-03 21:36] lesv commented on #1825
Status?

[2020-04-05 03:10] build-cop-bot[bot] opened #2569 "SampleTests: histogramSampleTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: ba68a0dd11fe1d20067fc8fd84fe35f2d66b14e4
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-05 23:25] lesv opened #2571 "SpannerSampleIT Deadline_Exceeded"
[code]

[2020-04-05 23:27] lesv commented on #2571
Found in PR #2563

[2020-04-05 23:31] lesv opened #2572 "DLP testCreateTrigger & testDeleteTrigger Quota Exceeded"
RESOURCE_EXHAUSTED: Quota exceeded for metric dlp.googleapis.com/job_trigger_count. Allowed: 1000 Actual: 1000
In both Java 8 & Java 11 tests:
[code]

Found in PR #2563

[2020-04-05 23:44] lesv commented on #2572
* It appears that we are hitting the `Number of job triggers` quota of 1000, the tests don't appear to be cleaning up after themselves.  We should make sure this gets cleaned up in tests, and someone needs to clean it out manually so we can get these tests working again.
* Number of inspect templates - is currently around 510 and growing linearly.  We probably will hit the 1000 quota within a few

[2020-04-05 23:54] lesv opened #2573 "SecurityCenter: ALREADY_EXISTS: Requested entity already exists"
securityCenter/
`NotificationConfigSnippetTests(sponge_log).testListNotificationConfig`
[code]
Found in PR #2563

Note: Something is amiss in how this things is created and cleaned up.  Please use UUID's and please clean up so we don't have things growing.  Also, ask for access to the test project so we can clean up.

[2020-04-06 03:43] skuruppu commented on #2571
@olavloite, would you please be able to take a look? Thanks very much.

[2020-04-06 06:37] olavloite commented on #2571
I've seen similar flakes in other test cases as well, and the team developing the CPP client for Spanner is also running into a [similar issue](https://github.com/googleapis/google-cloud-cpp-spanner/issues/512). The problem is that the `CreateBackup` and `CreateDatabase` operations are non-idempotent. These can therefore sometimes fail with `DEADLINE_EXCEEDED` and/or `UNAVAILABLE` in case of tempo

[2020-04-06 15:02] averikitsch commented on #2573
@tdh911 PTAL

[2020-04-06 16:26] #2573 closed

[2020-04-06 20:55] #2572 closed

[2020-04-06 23:59] gguuss commented on #1825
@dzlier-gcp May have an update.

[2020-04-07 16:36] lesv commented on #1825
ping

[2020-04-07 16:36] lesv commented on #1819
ping

[2020-04-08 03:20] build-cop-bot[bot] opened #2599 "SampleTests: generalSearchSampleTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 12152f0f2e0cce19d8b865f284e30fdb2892b8d4
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-08 21:37] dzlier-gcp commented on #2491
This test seems to succeed after #2456. Closing until it fails again.

[2020-04-08 21:37] #2491 closed

[2020-04-10 15:54] #2252 closed

[2020-04-12 20:42] build-cop-bot[bot] opened #2632 "SampleTests: commuteSearchSampleTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 7b872c3b28ec3505c4a4efe9d9af41baea4b97cc
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-13 09:00] #2571 closed

[2020-04-13 16:46] chingor13 commented on #2549
The resource names were changed in https://github.com/googleapis/java-talent/releases/tag/v0.36.0

[2020-04-13 17:29] lesv commented on #2549
Make that v1.0.15 and fix what you can.  v1.0.15 is advisory only for most issues.

[2020-04-13 17:29] lesv commented on #2549
@munkhuushmgl - just wondering how things are going w/ this?

[2020-04-13 17:34] chingor13 commented on #2549
Having the samples in the client library repo would have noticed this much sooner. I'm testing how easy it is to migrate the samples in: https://github.com/googleapis/java-talent/pull/133

[2020-04-13 19:29] munkhuushmgl commented on #2549
@lesv Sorry about that, I am creating PR right now

[2020-04-13 20:24] #2549 closed

[2020-04-14 03:03] gguuss opened #2645 "Fix IoT lint errors"
## In which file did you encounter the issue?
iot/api-client/manager

### Did you change the file? If so, how?
No files changed.

## Describe the issue
Build is throwing new lint errors.

[2020-04-14 21:11] build-cop-bot[bot] opened #2653 "SampleTests: locationSearchSampleTest failed"
Note: #2436 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 9e0dd634791f779593a717e0894f52b658367088
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e26959f2-b7aa-41f0-a6f4-289576e6f3cf), [Sponge](http://sponge2/e26959f2-b7aa-41f0-a6f4-289576e6f3cf)
status: failed

[2020-04-14 21:12] build-cop-bot[bot] opened #2654 "SampleTests: featuredJobSearchSampleTest failed"
Note: #2232 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 9e0dd634791f779593a717e0894f52b658367088
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e26959f2-b7aa-41f0-a6f4-289576e6f3cf), [Sponge](http://sponge2/e26959f2-b7aa-41f0-a6f4-289576e6f3cf)
status: failed

[2020-04-14 21:12] build-cop-bot[bot] opened #2655 "SampleTests: customAttributeSampleTest failed"
Note: #2261 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 9e0dd634791f779593a717e0894f52b658367088
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e26959f2-b7aa-41f0-a6f4-289576e6f3cf), [Sponge](http://sponge2/e26959f2-b7aa-41f0-a6f4-289576e6f3cf)
status: failed

[2020-04-14 21:12] build-cop-bot[bot] opened #2656 "SampleTests: emailAlertSearchSampleTest failed"
Note: #2536 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 9e0dd634791f779593a717e0894f52b658367088
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e26959f2-b7aa-41f0-a6f4-289576e6f3cf), [Sponge](http://sponge2/e26959f2-b7aa-41f0-a6f4-289576e6f3cf)
status: failed

[2020-04-14 21:23] build-cop-bot[bot] opened #2657 "com.example.AlertIT: testDisableEnablePolicies failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 9e0dd634791f779593a717e0894f52b658367088
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-15 01:09] munkhuushmgl commented on #2657
I will look into it!

[2020-04-15 01:10] munkhuushmgl commented on #2656
I will look into it!

[2020-04-15 03:45] #2656 closed

[2020-04-15 03:45] #2655 closed

[2020-04-15 03:45] #2654 closed

[2020-04-15 03:47] #2653 closed

[2020-04-15 22:46] #2657 closed

[2020-04-16 17:57] dzlier-gcp commented on #1816
I will try removing the ignore on these and see if any of them pass.

[2020-04-16 20:59] #1816 closed

[2020-04-16 21:00] #1817 closed

[2020-04-17 03:52] build-cop-bot[bot] opened #2679 "SampleTests: emailAlertSearchSampleTest failed"
Note: #2536 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: fe2c1eb6efea54566f5ea7023707744bb24e6c02
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8e1ba780-3c44-400b-8b9f-4ee49b82f96d), [Sponge](http://sponge2/8e1ba780-3c44-400b-8b9f-4ee49b82f96d)
status: failed

[2020-04-17 15:41] noerog commented on #2679
Hi @dzlier, I think this test is flaky because you enabled the FHIR conditional tests yesterday.

[2020-04-17 21:23] #2679 closed

[2020-04-17 21:24] build-cop-bot[bot] opened #2681 "CommuteSearchJobsTest: testCommuteSearchJobs failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: e6fcdaaa71a01071f8f17be0144798ce9659919c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-17 21:24] build-cop-bot[bot] opened #2682 "CustomRankingSearchJobsTest: testCustomRankingSearchJobs failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: e6fcdaaa71a01071f8f17be0144798ce9659919c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-17 21:24] build-cop-bot[bot] opened #2683 "HistogramSearchJobsTest: testHistogramSearch failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: e6fcdaaa71a01071f8f17be0144798ce9659919c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-17 21:24] build-cop-bot[bot] opened #2684 "JobSearchListJobsTest: testListJobs failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: e6fcdaaa71a01071f8f17be0144798ce9659919c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-17 21:59] saturnism opened #2685 "GCF samples - move helloworld"
Language-specific helloworld should go into `helloworld` directory.

GCS and product-specific samples should go to product directory. E.g., `hello-gcs` should go into `gcs` directory, `pubsub-retry` go into `pubsub` directory.

This is what we originally discussed and documented.

[2020-04-17 21:59] saturnism commented on #2685
/cc @ace-n

[2020-04-17 22:42] #2645 closed

[2020-04-17 23:09] ace-n commented on #2685
I'm -1 on putting "product-specific samples" into a separate directory, as that makes them (IMO) less discoverable at a glance. I'll defer to @labtopia on this though.

RE `jvm-langs`: **I can put those into the `helloworld` directory** as we discussed previously.

[2020-04-17 23:14] gguuss commented on #2684
This could be failing on the stopbugs report:

[code]

[2020-04-17 23:25] lesv commented on #2684
That's probably not it.  That's not a real error, just bad practice.

[2020-04-17 23:50] labtopia commented on #2685
I take your point @ace-n , but I'm in favor of this change for a few reasons:
-- My understanding is that it would be more consistent with other Java repos.
-- It fits in better with the taxonomy we're using for our other samples. If I were a Kotlin/etc. developer, I do think it would occur to me to look in /helloworld for samples.
-- Having them where they are now doesn't scale, if we continue to

[2020-04-18 00:37] munkhuushmgl commented on #2682
I will fix this.

[2020-04-18 00:37] munkhuushmgl commented on #2681
I will fix this.

[2020-04-18 00:37] munkhuushmgl commented on #2683
I will fix this.

[2020-04-18 02:41] saturnism commented on #2685
[App Engine 11 samples](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java11) are also grouped more or less by products too, in addition to helloworld for different frameworks/jvm languages.

Moreover, in Function samples, there is [pubsub sample](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/functions/pubsub) and [hello/hello-pub-sub sample]

[2020-04-18 02:47] saturnism commented on #2685
For logging, it already follows the proposed structure, and makes sense.

[code]

[2020-04-18 04:15] ace-n commented on #2685
@labtopia duly noted; I'll create a PR accordingly.

@saturnism I suspect the samples you mentioned are best discussed in a separate issue. That said, I'll try to address your concerns here:

The `retry-pubsub` and `retry-timeout` examples are _conceptual examples_ focused around how to create "retriable functions", and are shown in [this doc](https://cloud.google.com/functions/docs/bestpractices/

[2020-04-20 19:11] gguuss commented on #2390
Test disabled due to flakiness.

[2020-04-20 19:11] #2390 closed

[2020-04-20 20:28] gguuss commented on #2684
Assigning to leah, looks like jobs API is failing (see second link in sponge)

[2020-04-20 20:34] leahecole commented on #2684
I know nothing about Jobs or the Java Samples so I might not be the right person for this - Jobs I think is one of our ownerless products

[2020-04-20 20:40] gguuss commented on #2684
I'll assign to Mike, maybe he's able to help.

[2020-04-20 20:44] munkhuushmgl commented on #2684
@gguuss I know a bit about CTS, I will look into it!

[2020-04-21 03:53] ace-n commented on #2685
PR has been merged.

@saturnism @labtopia did you still want _product-specific_ directories instead of one large `helloworld` one (like the other languages use)?

[2020-04-21 18:21] lesv commented on #2551
Appears to have been fixed in #pr 2168, not sure why it wasn't pushed earlier.

[2020-04-21 18:50] lesv commented on #2551
Yet appears broken in #2702

[2020-04-21 18:51] lesv opened #2711 "jobs/v4"
Appears broken in #2702
[code]

[2020-04-21 18:52] lesv commented on #2711
# Java 11
[code]

[2020-04-21 18:54] lesv opened #2712 "SecurityCenter broken"
Appears broken in #2702 (maybe related to Overground today)
# Java 11
[code]

[2020-04-21 18:56] lesv commented on #2551
From #2702
# Java 8
[code]

[2020-04-21 19:20] lesv commented on #2551
Started work.

[2020-04-21 19:21] lesv commented on #2551
It works locally - no errors.

[2020-04-21 19:23] lesv commented on #2551
There is a warning:
[code]

Spotbugs says:
[code]

[2020-04-21 19:41] lesv commented on #2551
I'm going to close this as it's not stopping on my machine and based on #2168 working, I'm going to presume it works.

[2020-04-21 19:41] #2551 closed

[2020-04-21 19:44] lesv commented on #2551
[code]

[2020-04-21 20:00] #2681 closed

[2020-04-21 20:05] lesv opened #2715 "tests in asset/cloud-client are inherently flaky"
Reviewing QuickstartIT, it:
* creates a bucket
* Writes a list of assets to the bucket
* wants to see that bucket in the list of assets
* deletes the bucket.

It should instead:
* Write to a well known bucket w/ gs:/well-known-bucket/UUID/my-assets.txt
* See if well-known-bucket is in my-assets.txt

This way there isn't a hysteresis problem on creating and knowing about buckets.

Related to #2551

[2020-04-21 20:06] lesv commented on #2715
FYI @peter-zheng-g @dzlier-gcp @kurtisvg

[2020-04-21 20:55] lesv commented on #1818
This appears to have been fixed in #2456

[2020-04-21 20:55] #1818 closed

[2020-04-21 20:58] lesv commented on #2632
## BatchPredictTest(sponge_log).testBatchPredict
[code]

[2020-04-21 21:00] lesv commented on #2711
Should be fixed in #2714

[2020-04-21 21:00] #2711 closed

[2020-04-21 21:00] #2684 closed

[2020-04-21 21:04] #2682 closed

[2020-04-21 21:04] lesv commented on #2632
[code]

[2020-04-21 21:04] #2683 closed

[2020-04-21 21:06] lesv commented on #2569
# Jobs/v3
[code]

[2020-04-21 21:09] lesv commented on #2599
# Jobs/v3
[code]

[2020-04-21 21:13] lesv commented on #1819
fixed by #2669

[2020-04-21 21:13] #1819 closed

[2020-04-21 21:15] lesv commented on #1825
GameServices No longer appears in our repo.

[2020-04-21 21:15] #1825 closed

[2020-04-21 22:02] lesv opened #2718 "Spanner samples should use the libraries-bom"
As noted in #2644 we all client samples should be using the `com.google.cloud:libraries-bom:5.1.0`, not `google-cloud-bom`

@olavloite PTAL
@nnegrey FYI
@elharo FYI

[2020-04-21 22:06] elharo commented on #2718
They'll also need to remove explicit version setting of gRPC, Guava, protbuf and other covered libraries.

[2020-04-22 00:04] ace-n commented on #2685
Update: @labtopia is ambivalent here. I'm still a bit -1 because of what the other products do - @saturnism if you think updating the other products to the same "per-product standard" is worth it though, I can do that here too.

[2020-04-22 02:09] build-cop-bot[bot] opened #2723 "InstantiateInlineWorkflowTemplateTest: instanstiateInlineWorkflowTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 925ce3131936a7f2359e1e4b53792a905b8da45b
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-22 02:09] build-cop-bot[bot] opened #2724 "QuickstartTest: quickstartTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 925ce3131936a7f2359e1e4b53792a905b8da45b
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-22 02:09] build-cop-bot[bot] opened #2725 "CreateClusterTest: createClusterTest failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 925ce3131936a7f2359e1e4b53792a905b8da45b
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-22 02:52] #2715 closed

[2020-04-22 11:54] elharo commented on #2715
I don't follow why this test is flaky. The current flow seems like it should work?

[2020-04-22 14:16] nnegrey commented on #2725
@bradmiro, is this you?

[2020-04-22 16:14] gguuss commented on #2723
@bradmiro Heads up the quickstart tests are failing:

[code]

[2020-04-22 16:16] gguuss commented on #2724
Potentially a [duplicate of this issue](https://github.com/GoogleCloudPlatform/java-docs-samples/issues/2723)

[2020-04-22 16:17] gguuss commented on #2725
I think this is @bradmiro also this appears to be [a duplicate issue of this one](https://github.com/GoogleCloudPlatform/java-docs-samples/issues/2723).

[2020-04-22 17:01] averikitsch commented on #2294
I have research options to improve the developer experience; however, due to the test setup we are unable to have multimodule projects in this repo.

[2020-04-22 17:01] #2294 closed

[2020-04-22 17:03] lesv commented on #2715
It was creating a bucket, then immediatly dealing w/ it.  What was happening was that occasionally, the bucket wasn't yet available.  That's fixed now.

[2020-04-22 17:20] #2718 closed

[2020-04-22 17:24] lesv commented on #2724
[code]

[2020-04-22 17:29] lesv commented on #2163
Appears to be fixed.

[2020-04-22 17:29] #2163 closed

[2020-04-22 17:32] lesv commented on #2712
@tdh911 PTAL

[2020-04-22 17:35] tdh911 commented on #2712
We had accidentally deleted a resource in our test org that resulted in these errors. They should have been fixed though...

Looking into it.

[2020-04-22 17:38] #2632 closed

[2020-04-22 17:43] #2599 closed

[2020-04-22 17:43] #2569 closed

[2020-04-22 17:50] tdh911 commented on #2712
Have updated permissions on our end, should work properly now.

[2020-04-22 19:01] bradmiro commented on #2725
Ack, investigating.

[2020-04-22 19:01] bradmiro commented on #2723
Ack, investigating.

[2020-04-23 21:22] ace-n opened #2763 "Functions integration tests: wait for FF process to start instead of retrying request"
Per @kurtisvg, we should wait for the local FF process to start before sending it requests.

(Currently, we simply retry the requests themselves.)

[2020-04-23 21:28] ace-n commented on #2763
A few options:

#### Constant`sleep`s
Use a `sleep` function with a constant amount (e.g. 500 ms) to give the emulator time to start up.

*This is what we initially did with Node, but @grant and I decided against it in favor of dynamic request retries (in case the FF process starts faster).*

#### Initialization retries
Check for an "initialized" message in the FF process' `stdout`. Keep retrying

[2020-04-23 21:52] build-cop-bot[bot] opened #2764 "com.example.spanner.SpannerSampleIT: testSample failed"
Note: #2412 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: cb3410e407be74f466ec508372dba03e03f45438
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/bfa8c29d-ba69-4511-b393-be8b123076fb), [Sponge](http://sponge2/bfa8c29d-ba69-4511-b393-be8b123076fb)
status: failed